{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}iCMS-EPR - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login with your CERN account</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
</div>
<form method="post" action="/">
    <!--{{ form.csrf_token }}-->
    {{ form.hidden_tag() }}
</form>
{% endblock %}
