{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css">

{% endblock %}

{% block title %}iCMS - EPR Management {% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="project-header">
        <h1>iCMS - EPR Management </h1>
    </div>

    <h3>
        Select users to be added as {{ userType }} to {{ what }} {{ name }}:
    </h3>

    <p>
        Select user(s) from the table, then click on the "Add selected user(s)" button to create a list of managers.
        Once the list is complete, click on the "Confirm selected users as {{ userType }}s ..." button to add the users as {{ userType }}s.
    </p>

    <div class="confirm-field">
        <div class="form" id="selectedUsers">
        </div>
        {% if what == 'project' %}
            <form id="done"  name="done" action="{{ url_for('manage.projectMgr') }}" method="post" >
        {% elif what == 'activity' %}
            <form id="done"  name="done" action="{{ url_for('manage.activityMgr') }}" method="post" >
        {% elif what == 'task' %}
            <form id="done"  name="done" action="{{ url_for('manage.taskMgr') }}" method="post" >
        {% endif %}
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input type="hidden" name="patType" id="patType" value="{{ what }}" />
            <input type="hidden" name="patCode" id="patCode" value="{{ patCode }}" />
            <input type="hidden" id="userList" name="userList" value="" />
            <input type="hidden" id="userType" name="userType" value="{{ userType }}" />
            <input type="submit" value="Confirm selected users as {{ userType }}s for {{what}} {{name}}" />
        </form>
    </div>

    <table id="userTable" class="display compact" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>UserName</th>
                <th>Main Institute</th>
                <th>CMS-ID</th>
                <th>HR-ID</th>
            </tr>
        </thead>
    </table>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function()
{

    function get(name){
        if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }

    $("#done").css('padding', '20p').hide();

    var selectedUsers = $('#selectedUsers');
    var userList = $('#userList');
    var uList = '';

    var table = $('#userTable').DataTable( {
        "ajax": "{{ url_for('api.managerUsers') }}",
        // "deferRender": true,

        dom: 'lBfrtlip',
        select: {
            style: 'multi'
        },
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        buttons: [
            {
                text: 'Add selected user(s)',
                action: function () {
                    var selRows = table.rows( { selected: true } );
                    var count = selRows.count();
                    var users = '';
                    for (r=0; r < count; r++) {
                        index = selRows[0][r];
                        row = table.row(index).data();
                        users = users + '<br/>Name: '+row.name;
                        if ( uList.indexOf(row.cmsId) === -1) {
                            uList = uList + row.cmsId + ","; // prepare to send back cmsId(s)
                        }
                    }
                    selectedUsers.html( '<div>'+count+' row(s) selected'+users+'</div>' );
                    userList.val( uList );
                    $("#done").show();
                }
            }
        ],
        "columnDefs": [
            { targets : 0, data: "id"},
            { targets : 1, data: "name"},
            { targets : 2, data: "instCode"},
            { targets : 3, data: "cmsId"},
            { targets : 4, data: "hrId"},
        ],
    } );

    //callback handler for form submit
    $("#done").submit(function(e)
    {
        var postData = userList.val();
        var formURL = $(this).attr("action");
        var patCode = $("#patCode").val();
        var patType = $("#patType").val();
        var userType = $("#userType").val();

        console.log(userType);
        console.log(patType);
        console.log(patCode);
        console.log(postData);
        console.log(formURL);

        $.ajax( {url : formURL,
                 type: "POST",
                 data : { 'userList': postData, 'patCode' : patCode, 'patType' : patType, 'userType' : userType },
                 success:function(data, textStatus, jqXHR) {
                            window.location.assign( $SCRIPT_ROOT +"/manage/"+patType+"/"+patCode );
                        },
                 beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                 }
        });
        e.preventDefault(); //STOP default action
        // e.unbind(); //unbind. to stop multiple form submit.
    });

    // $("#done").submit(); //Submit  the FORM

});
</script>
{% endblock %}
