/* use this to ensure there is only a little empty space around the tables */
.container {
    width: 95%;
}

a#fav{
 background: url('/static/OpenStarBlackLines.png');
 display: block;
 width:  40px;
 height: 40px;
 background-size: 100%;
}

a#fav.active{
 background: url('/static/OrangeStarBlackLines.png');
 display: block;
 width:  40px;
 height: 40px;
 background-size: 100%;
}

.histChg {
    background-color : #FF9999;
}

.red {
    background-color : #FF9999;
}

.body h1 {
    font-size: 120%;
}
.body h2 {
    font-size: 110%;
}
.body h3 {
    font-size: 110%;
}

.flashes.error {
    text-color : red;
}

.navbar {
    background-color: blanchedalmond;
}

.dropdown-toggle .navbar-right.a{
    font-size: 125%;
}

th {
    padding: 10px;
    text-align: center;
}


td {
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

table.form-table {
    padding: 10px;
    text-align: left;
}

form.right-aligned button {
    text-align: left;
}

.contact-person {
    font-size: 16pt;
    vertical-align: center;
}

/* make sure left-aligned tables get rendered correctly ... */
table.left-aligned td{
    text-align: left;
}

table.left-aligned tr:nth-child(even) {
    background-color: antiquewhite;
}
table.left-aligned tr:nth-child(odd) {
    background-color: wheat;
}


table {
    border-collapse: collapse;
}

table.project, tr.project {
    border: 1px solid black;
    padding: 10px;
}

tr.task tr.done {
    background-color: green;
}

.instRespTask{
    background-color: orange;
}
table.dataTable tbody tr.instRespTask {
    background-color: orange;
}
table.dataTable tbody tr.instRespTask.even {
    background-color: orange;
}

.left-border {
    border-left : 2px solid blue;
}

div.summary-info{
    font-size: 120%;
}

td.summary-label {
    border: 1pt black solid;
    font-weight: bold;
    text-align : left;
    padding: 5px;
    width : 6%
}
td.summary-label div.smaller {
    font-weight: normal;
    font-size: smaller;
}
td.summary-label span.smaller {
    font-weight: normal;
    font-size: smaller;
}
td.summary-data {
    border: 1pt black solid;
    text-align : right;
    padding: 5px;
    width: 5%
}

div.overview {
    font-weight: bold;
    text-align : left;
    padding: 5px;
}

div.wall {
    column-count: 1;
    column-gap: 25px;
    padding: 15px;
}
div.wall2 {
    column-count: 2;
    column-gap: 25px;
    padding: 15px;
}
div.brick {
    padding: 15px;
}

ul.overview li {
    list-style-type: none;
    padding-left: 0px;
}
ul.overview li span {
    font-weight: bold;
    float: left;
    width: 25%;
}

.coordinst {
    background-color: #9effff;
}
.associnst {
    background-color: #9acfea;
}

table.dataTable tr.coordinst, table.dataTable tr.coordinst.even, table.dataTable tr.coordinst.even.selected, table.dataTable tr.coordinst.selected {
    background-color: #9effff;
}
table.dataTable tr.associnst, table.dataTable tr.associnst.even, table.dataTable tr.associnst.even.selected, table.dataTable tr.associnst.selected {
    background-color: #9acfea;
}
table.dataTable tr.forrefinst, table.dataTable tr.forrefinst.even, table.dataTable tr.forrefinst.even.selected, table.dataTable tr.forrefinst.selected {
    background-color: #d2d2d2;
}
table.dataTable tr.noinst, table.dataTable tr.noinst.even, table.dataTable tr.noinst.even.selected, table.dataTable tr.noinst.selected {
    background-color: #d2d2d2;
}


.deeppink{
    background-color: deeppink;
}
.orangered {
    background-color: #ff5500;
}
.orange {
    background-color: yellow;
}
.lawngreen {
    background-color: lawngreen;
}

.hide_column {
    display : none;
}

div.confirm-field {
    padding: 10px;
    margin: 25px;
}
div.form-group {
    margin: 15px;
}
label.control-label {
    font-size: 120%;
}
div.form {
    width: 30%;
    padding: 10px;
    margin: 5px;
}

.task-desc {
    font-style: italic;
    display: none;
}

td.task-description {
    font-color : blue;

    /*background: url('/static/details_open.png') no-repeat center center;*/
    /*cursor: pointer;*/
}
tr.shown td.task-description {
    font-color : blue;

    /*background: url('/static/details_close.png') no-repeat center center;*/
}

td.activity-description {
    font-color : blue;

    /*background: url('/static/details_open.png') no-repeat center center;*/
    /* cursor: pointer;*/
}
tr.shown td.activity-description {
    font-color : blue;

    /*background: url('/static/details_close.png') no-repeat center center;*/
}

table.dataTable tbody tr td.deeppink .sorting_1 {
    background-color: deeppink;
}
table.dataTable tbody tr td.orangered .sorting_1 {
    background-color: #ff5500;
}
table.dataTable tbody tr td.orange .sorting_1 {
    background-color: yellow;
}
table.dataTable tbody tr td.lawngreen .sorting_1 {
    background-color: lawngreen;
}

table.dataTable tbody tr.even {
    background-color: lavender;
}

td.details-control {
    background: url('/static/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/static/details_close.png') no-repeat center center;
}

footer {
    display: block;
    background-color: blanchedalmond;
}

.footer-left {
    width:50%;
    float:left;
    padding:10px;
    background-color: blanchedalmond;
}

.footer-right {
    width:50%;
    float:right;
    padding:10px;
    background-color: blanchedalmond;
}

/* the tabs for the tables ...  */
.nav-tabs>li>a {
    font-size: 16px;
    font-family: bold;
    color: #FFFFFF;
    background-color: #afb0ff;
}
/* the active tab for the tables ...  */
.nav-tabs>li.active>a {
    font-size: 16px;
    font-family: bold;
    color: #FFFFFF;
    background-color: #432cff;
}

/* <!-- from http://stackoverflow.com/questions/1861030/jquery-accordion-opening-a-box-based-on-href --> */
.accordion {
  position: relative;
}
.accordion .accordion-link {
  position: absolute;
  right: 1%;
  margin-top: 16px;
  z-index: 1;
  width: 12px;
  height: 12px;
  background: url(/static/link160.png) center center no-repeat; /* approx 12x12 link icon */
}

table.innerPledgeTable {
    width: 40%;
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid blue;
    /*border: none;*/
    margin-left: 30%;
}
table.innerPledgeTable > th {
    padding-bottom: 0px;
    padding-top: 0px;
    border: 1px solid blue;
}

/* from icms.css in icms-tools ... */

div.huge{
    width: 100%;
}

div.brick{
    background-color: antiquewhite;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 0px;
}

.brick h4{
    text-align: center;
}

div.brick.padded{
    padding: 10px;
}

.brick div.odd{
    background-color: ghostwhite;
}

.brick div.table
{
    display:  table;
    width:100%;
    border: 1px solid white;
    margin-bottom: 5px;
}

.brick div.row
{
    display:table-row;
    width:100%;
}

.brick div.cell
{
    float:left;
    display:table-cell;
    padding: 3px;
    border: 1px solid white;
    height: 100%;
}

.brick div.header{
    font-weight:  bold;
    text-align: center;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.ui-widget-content .ui-dialog-content {
    background-color: wheat;
}

.large-font {
    font-size: xx-large;
}

tr.bold {
    font-weight: bold;
    color: coral;
}

.changed {
    background-color : coral;
}
