<ul class="activities">
    {% for activity in activities %}
    <li class="activity">
        <div class="activity-content">
            <div class="activity-date">Created on {{activity.timestamp}} ({{ moment(activity.timestamp).fromNow() }})</div>
            <div class="activity-body">
                {{ activity }}
            </div>
            <div class="activity-footer">
                {% if current_user.is_administrator() %}
                <a href="{{ url_for('.activity', id=activity.id) }}">
                    <span class="label label-primary">Edit activity info</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
