<ul class="pledges">
    {% for pledge in pledges %}
    <li class="pledge">
        <div class="pledge-content">
            <div class="pledge-date">Created on {{pledge.timestamp}} ({{ moment(pledge.timestamp).fromNow() }})</div>
            <div class="pledge-body">
                {{ pledge }}
            </div>
            <div class="pledge-footer">
                {% if pledge.status == 'new' %}
                <a href="{{ url_for('.pledge', id=pledge.id) }}">
                    <span class="label label-primary">Edit pledge info</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>