{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}iCMS - EPR Activity {{ activity.name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="activity-header">
        <h1>Activity {{ activity.name }}</h1>

        <p>In Project {{ activity.project.name }} {{ activity.project.description }}
        </p>

        <p>
            Activity Description: {{ activity.description|safe }} <br />

        {% if activity.tasks %}
            Tasks: <br />
            {% for t in activity.tasks %}
                {{ t.name }}
            {% endfor %}
        {% endif %}
        </p>
        <div class="activity-footer">
            {% if form %}
                {% if isAdmin %}
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
                {% endif %}
            {% endif %}
        </div>

    </div>
</div>

{% if activity.tasks %}
<h3>Tasks for activity {{ activity.name }}</h3>
{% include '_tasks.html' %}
{% endif %}

{% endblock %}
