{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}


{% block title %}iCMS - EPR Edit Pledges of Institute Responsibility Task "{{ task.name }}" for {{ inst.code }} in {{ year }}{% endblock %}

{% block page_content %}

{% if canAdmin %}
   <div class="brick padded">

    <div id="chg-inst-dialog-form" class="ui-front" title="Change institute" hidden>
      <p class="validateTips">Start typing a few characters of the institute's name or code, then click on the institute in the list.</p>
      <form>
        <label for="instSel-1">Select the institute to which the pledge should be accounted: </label>
        <input id="instSel-1" name="instSel-1" class="text ui-widget-content ui-corner-all"/>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </form>
    </div>
    </div>
{% endif %}


<div class="page-header">
    <div class="brick padded pledge-header">
        <h1> Info for Institute Responsibility Task "{{ task.name }}" for {{ inst.code }} in {{ year }}</h1>
        {% if pledgeInfo.status.lower() == 'rejected' %}
            <h2 class="alert alert-danger">This pledge was rejected.</h2>
        {% endif %}
        <p>
            <b>User:</b> <span id="userId-0">{{ '%s - %s (CERNid: %i)' % (user.name, inst.code, user.hrId) }}</span> <br />
            <b>Institute:</b> <span id="instId-0">{{ inst.code }}</span>
                {% if canAdmin and pledgeInfo.status.lower() != 'rejected' %}
                        &nbsp; &nbsp; &nbsp; <button id="change-inst"> Change institute for pledge </button>
                {% endif %}
                <br />
            <b>Task:</b> {{ pledgeInfo.taskId }} - {{ task.name }}  <br />
            <b>Needed work:</b> {{ task.neededWork}} (months) <br />
            <b>Pledged work: {{ workPledged }} (months) </b><br />
            {% if pledgeInfo.status.lower() == 'rejected' %}
                <br />
                <b>Work accepted:</b> {{ pledgeInfo.workTimeAcc }} (months) <br />
                <b>Work done:</b> {{ pledgeInfo.workTimeDone }} (months) <br />
                <!-- <b>Work done so far:</b> {{ pledgeInfo.workedSoFar}} (months) <br /> -->
                <b>Status:</b> {{ pledgeInfo.status }} <br />
            {% endif %}
        </p>
        <p>
        {% if canAdmin %}
        <!-- <b>Note:</b> The field "Work done" is the amount of work which the project/activity/task manager certifies the user has done for the task. -->
        {% endif %}
        </p>
        {% if form %}
            <div class="brick padded pledge-footer">
                <div class="col-md-9">
                    <form action="" method="post" name="newPledge">
                        {{ form.hidden_tag() }}

                        <input type="hidden" id="userId" name="userId" value="" />
                        <input type="hidden" id="instId" name="instId" value="" />

                      {% if form.workTimePld %}  <p> {{ form.workTimePld.label }} <br/> {{ form.workTimePld }} </p> {% endif %}
                      {% if form.workTimeAcc %}  <p> {{ form.workTimeAcc.label }} <br/> {{ form.workTimeAcc }} </p> {% endif %}
                      <!-- {% if form.workedSoFar %}  <p> {{ form.workedSoFar.label }} <br/> {{ form.workedSoFar }} </p> {% endif %} -->
                      {% if form.workTimeDone %} <p> {{ form.workTimeDone.label }} <br/> {{ form.workTimeDone }} </p> {% endif %}
                      {% if form.status %}       <p> {{ form.status.label }} <br/> {{ form.status }} </p> {% endif %}
                      <p><input type="submit" value="Submit"></p>
                    </form>
                </div>
            </div>
            {%  if canAdmin %}
                <div class="brick padded pledge-footer">
                    <div class="col-md-9">
                        <form action=$SCRIPT_ROOT+"/rejectPledge/{{ pledgeInfo.id }}" method="post" name="rejectPledge">
                            {{ form.hidden_tag() }}
                            <input type="hidden" id="pledgeId" name="pledgeId" value="{{ pledgeInfo.id }}" />
                            <p class="alert-danger"><input type="submit" value="rejectPledge">  Reject this pledge </p>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="brick padded">
    {% if irPledges %}
    
    <div id="instRespPledgesButtons"></div>

    {% if isInstMgr %}
        <button type="submit" id="add-user" class="btn btn-primary btn-lg"> Add user to pledge </button>
        <button type="submit" id="submit-changes" class="btn btn-outline-primary btn-lg disabled" >Submit changes</button>
    {% endif %}

    <table id="instRespPledges" class="dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td></td>
                <td>User</td>
                <td>Pledged</td>
                <td>accepted</td>
                <td>Done</td>
                <td>Status</td>
                <td>CMSid</td>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>User</td>
                <td>Pledged</td>
                <td>accepted</td>
                <td>Done</td>
                <td>Status</td>
                <td>CMSid</td>
            </tr>
        </tfoot>
    </table>
    {% else %}
    No individual pledges found.
    {% endif %}
</div>

    <div id="add-user-dialog-form" class="ui-front" title="Add user" hidden>
        <p class="validateTips">Start typing a few characters of the user's name or firstname, then click on the user in the list.</p>
        <form>
        <label for="userSel-0">Select User: </label>
        <input id="userSel-0" name="userSel-0" class="ui-widget-content ui-corner-all"/>
        
        <label for="userSel-0">Pledged Work: </label>
        <input type="number" size="6" min="0" max="12" id="new-user-pld" name="new-user-pld" class="pledge">

        <input id="add-user-task-id" value="{{ pledgeInfo.taskId }}" hidden/>
        <input id="add-user-inst-code" value="{{ inst.code }}" hidden/>
        <input id="add-user-year" value="{{ year }}" hidden/>
        
        </form>
    </div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='icmsepr.js') }}"></script>

<script language="JavaScript">
    $(function() {

        var dialogI, formI, dialogU, formU;
        var instId, userId;
        var newUserPld = 0;

        function changeInst() {
            $("#instId-0").html( instId );
            $("#instId").val( instId );
            dialogI.dialog( "close" );
        }

        dialogI = $( "#chg-inst-dialog-form" ).show().dialog({
            autoOpen: false,
            height: 500,
            width: 600,
            modal: true,
            buttons: {
                "Confirm new Institute": changeInst,
                Cancel: function() {
                    dialogI.dialog( "close" );
                }
            },
            close: function() {
                formI[ 0 ].reset();
            }
        });

        formI = dialogI.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        changeInst();
        });

        $( "#change-inst" ).button().on( "click", function() {
            dialogI.dialog( "open" );
        });

        $( "#instSel-1" ).autocomplete( {
            autoFocus: true,
            minLength: 3,
            source: '{{ url_for("api.searchInstCode") }}',
            select: function( event, ui ) {
                    instId = ui.item.value;
                    $( "#instSel-1" ).autocomplete("close");
                }
        } );

        $( "#userSel-0" ).autocomplete( {
            autoFocus: true,
            minLength: 3,
            source: '{{ url_for("api.searchUsers") }}',
            select: function( event, ui ) {
                    userId = ui.item.value;
                    instId = getInstId( ui.item.value );
                }
        } );

        function addUser() {
            $("#userId-0").html( userId );
            $("#userId").val( userId );
            newUserPld = $('#new-user-pld').val();
            sendUpdates( 
                "{{ url_for('api.addUserToIRTpledge') }}",
                {
                    "year" : "{{ year }}",
                    'data': JSON.stringify( { 'user': userId, 'pld': newUserPld } ),
                    'instCode' : "{{ inst.code }}",
                    'taskId' : "{{ task.id }}"
                }
            );

            dialogU.dialog( "close" );
        }

        dialogU = $( "#add-user-dialog-form" ).show().dialog({
            autoOpen: false,
            height: 300,
            width: 600,
            modal: true,
            buttons: {
                "Add user to pledge": addUser,
                Cancel: function() {
                    dialogU.dialog( "close" );
                }
            },
            close: function() {
                formU[ 0 ].reset();
            }
        });

        formU = dialogU.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            addUser();
        });

        $( "#add-user" ).click( function() {
            dialogU.dialog( "open" );
        });


    });

    function sendUpdates( url, data) {

        var jqxhr = $.ajax( {
            url: url,
            method : "POST",
            data: data,
            })
            .done(function(data, textStatus, jqXHR) {
                // reload the page to ensure everything is consistent
                document.location.reload();
            })
            .fail(function(data, textStatus, jqXHR) {
                console.log(data);
                if (data.responseJSON) {
                    alert( "error updating IRT pledges ... "+data.status+' - '+data.responseJSON.msg );
                } else {
                    alert( "error updating IRT pledges ... "+data.status+' - '+data.responseText );
                }
                document.location.reload();
            });
        return false;
    }

    $('#submit-changes').click( function() {
        var data = instRespPledgesTable.$('.changed');
        console.log(data);
        var outData = data.serialize();
        // alert(
        //     "The following data would have been submitted to the server: \n\n"+
        //     outData.substr( 0, 120 )+'...'
        // );

        sendUpdates( 
            "{{ url_for('api.updateIRTpledges') }}",
            {
                    "year" : "{{ year }}",
                    "data" : outData,
                    'instCode' : "{{ inst.code }}",
                    'taskId' : "{{ task.id }}"
            }
        );
    });

    var instRespPledgesTable = $('#instRespPledges').DataTable({
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "ajax": {
            "url": "{{ url_for('api.pledgesForInstResp') }}",
            method : "POST",
            data: { "year" : "{{ year }}",
                    "instId": "{{ inst.id }}",
                    "taskId": "{{ task.id }}",
                  },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading data ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading data took '+ (stop-start).toFixed(0) +' msec.');
            },
            error : function( data , textStatus /* , jqXHR */ ) {
                console.log('error loading InstUsers from API !')
                console.log(textStatus);
                console.log(data);
            },
        },
        dataSrc: 'data',
        "columnDefs": [
            {
                "render": $.fn.dataTable.render.number("'", '.', 2),
                "targets": [3,4]
            },
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               targets : 0
            },
            { targets: 1, data: "name", render: function ( data, type, row ) {
                    return '<a href="/showUser/' + row[7]+ '" target=_"blank">' + row[1] + "</a>";
                }
            },
            { targets: 2,
                orderable: false,
              render: function ( data, type, row ) {
                return '<input type="number" size="6" min="0" max="12" id="user-'+row[6]+'-pld" name="user-'+row[6]+'-pld" value="'+row[2]+'" class="pledge">';
              }
            },
            { targets: -1, visible:false },
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
            if (data[5] == 'rejected') {
                $('td', row).addClass('red');
                $('td', row).addClass('rejected');
            }
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
                    _: "You have selected %d rows",
            rows: {
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
        order: [[ 1, 'asc' ]],
    });

    instRespPledgesTable.on( 'input', function ( e, dt, type, indexes ) {
            console.log("select e, e.target.name ", e, e.target.name);
            // console.log("select dt, type, indexes ", dt, type, indexes);
            if (e.target.nodeName === 'INPUT') {
                console.log("select e, e.target.name ", e, e.target.name);
                $('#'+e.target.name).addClass('changed');
                $('#submit-changes').removeClass('btn-info');
                $('#submit-changes').addClass('btn-danger');
                $('#submit-changes').removeClass('disabled');
                // instRespPledgesTable.cells(indexes,-1).every( function(ridx, cidx, tlc, clc) {
                //     if (this.data() !== '' ) {
                //         // console.log("selecting user ", this.data());
                //     }
                // })
            }
    });
    instRespPledgesTable.on( 'deselect', function ( e, dt, type, indexes ) {
        instRespPledgesTable.cells(indexes,-1).every( function(ridx, cidx, tlc, clc) {
            if (this.data() !== '' ) {
                // console.log("deselecting user ", this.data());
            }
        })
    });

    setupColSearch(instRespPledgesTable);
    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: instRespPledgesTable,
                      buttonDivName : 'instRespPledgesButtons',
                      noSelAll: false,
                      addOnButtons : [
                      { text: "Remove selected from pledge",
                      action: function ( e, dt, node, config ) {
                            removeFromInstRespPledge( instRespPledgesTable, instRespPledgesTable.buttons.exportData( {
                                modifier: { selected: true }
                            } ) );
                            dt.rows().deselect();
                        } // end function
                          }, // end button "Remove selected ... "
                      ]
    });

    function removeFromInstRespPledge(table, selPledges) {
        
        console.log( selPledges );

        // here we now have the full data of the selected rows. Iterate and call approvePlegdge ...
        if ( !selPledges ) {
            console.log("removeFromInstRespPledge> no pledges selected");
            return;
        }
        if ( selPledges.body.length == 0 ) {
            console.log("removeFromInstRespPledge> empty list of selected pledges");
            return;
        }

        var plCodes = [];
        for (i=0; i<selPledges.body.length; i++) {
            plCodeColumn = selPledges.body[i].length - 1;
            plCodes.push( selPledges.body[i][plCodeColumn] );
        }

        console.log("removeFromInstRespPledge> plCodes: ", plCodes);
        var outData = JSON.stringify(plCodes);

        sendUpdates( 
            "{{ url_for('api.removeIRTpledge') }}",
            {
                "year" : "{{ year }}",
                "data" : outData,
                'instCode' : "{{ inst.code }}",
                'taskId' : "{{ task.id }}"
            }
        );
    };

</script>


{% endblock %}
