{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block title %}iCMS - EPR New Pledges for Institute Responsibility task for {{ inst.code }} in {{ year }}{% endblock %}

{% block page_content %}

    <div id="warns" hidden></div>

    <div class="page-header">
        <div class="profile-header">
            <h1>Creating New Pledges for Institute Responsibility task for {{ inst.code }} in {{ year }}</h1>
        </div>
    </div>

    <!--
workPledged should be checked against needed work for the selected task ... how to validate this ?
            var needs = irTaskTable.cell(irTaskTable.rows({selected:true}).indexes(), 5).data();
            if (irtPledge < 0 || irtPledge > needs) {
                alert("Illegal value" + irtPledge + ' has to be between 0 and '+needs);
            } else {
-->

    <div id="task_selector" class="brick huge padded">
        <h3 class="orange text-center">Select one of the following InstResp tasks: </h3>
        <div id="irTaskTableButtons"></div>
        <table id="instRespTasks" class="dataTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> </th>
                    <th>Project</th>
                    <th>Activity</th>
                    <th>Task</th>
                    <th>Task description</th>
                    <th>Needed work</th>
                    <th>Pledged work</th>
                    <th>Accepted work</th>
                    <th>Done work</th>
                    <th>Institute</th>
                    <th>Task ID</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th> </th>
                    <th>Project</th>
                    <th>Activity</th>
                    <th>Task</th>
                    <th>Task description</th>
                    <th>Needed work</th>
                    <th>Pledged work</th>
                    <th>Accepted work</th>
                    <th>Done work</th>
                    <th>Institute</th>
                    <th>Task ID</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="contact_selector" class="brick padded">
        <h3 class="orange text-center">Select a contact person for the InstResp tasks: </h3>
        <div id="sel-contact-dialog-form" class="ui-front" title="Select Contact Person" hidden>
          <p class="validateTips">Start typing a few characters of the user's name or firstname, then click on the user in the list.</p>
          <form id="contactSelect">
            <div class="ui-widget">
                <label for="contactId-0">Select User: </label>
                <input id="contactId-0" name="contactId-0" class="ui-widget-content"/>
            </div>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
          </form>
        </div>

        <div >
        <span id="contactId-1" class="contact-person col-md-6" align="left"> No contact person selected yet</span>
        <span class="btn btn-lg btn-primary col-md-offset-2" align="right">
            <button id="change-user"> Select Contact Person </button>
        </span>
        </div>
    </div>

    <div id="workPledged_selector" class="brick padded">
        <h3 class="text-center">Select the total work pledged for the InstResp tasks: </h3>
        <form action="" method="post" id="newInstRespPledgeForm">
            {{ form.hidden_tag() }}

            <input type="hidden" id="year" value="{{ year }}" />
            <input type="hidden" id="contactName" name="contactName" value="" />
            <input type="hidden" id="userIdList" name="userIdList" value="" />
            <input type="hidden" id="instCode" name="instCode" value="{{ inst.code }}" />

            <table class="form-table">
                <tr> <td class="form-table" align="left"> {{ form.workPledged.label }} </td><td class="form-table"> {{ form.workPledged }} </td> </tr>
                <tr> <td class="form-table" align="left"> {{ form.taskName.label }}    </td><td class="form-table" > {{ form.taskName }}    </td> </tr>
                <tr hidden> <td align="left"> {{ form.taskId.label }}    </td><td> {{ form.taskId }}    </td> </tr>
            </table>
            <button id="submitInstRespPledge" class="btn btn-lg btn-primary btn-block" type="button" disabled>Create InstResp Pledge</button>
        </form>
    </div>

    <div id="userNameList">
    <h4>Selected users for this task:</h4>
        <ul id="user-names">
        </ul>
    </div>

    <button id="findLastYearInstRespPledge" class="btn btn-lg btn-primary btn-block" type="button" disabled>Copy last years InstResp Pledge</button>

    <button id="activateUserSelector" class="btn btn-lg btn-primary btn-block" type="button" disabled>Select users for InstResp Pledge</button>

    <div id="user_selector_container" class="brick huge padded" hidden>
        <div id="user_selector" class="ui-front" hidden>
            <h3>Select Users pledging for task: </h3>
        <div id="instUserTableButtons"></div>
        <table id="instUsers" class="dataTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> </th>
                    <th>Name</th>
                    <th>Due</th>
                    <th>Applicant Due</th>
                    <th>Pledges</th>
                    <th>Author</th>
                    <th>cmsId</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th> </th>
                    <th>Name</th>
                    <th>Due</th>
                    <th>Applicant Due</th>
                    <th>Pledges</th>
                    <th>Author</th>
                    <th>cmsId</th>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}

    {#    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>#}

    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='icmsepr.js') }}"></script>

    <script language="JavaScript">

    $(document).ready(function() {

        var taskSel = false;
        var contactSel = false;
        $('#userIdList').val('');
        $('#contactName').val('');
        $('#taskId').val('');
        $('#taskName').val('');
        $('#workPledged').val('');

        var userId;
        $( "#contactId-0" ).autocomplete( {
            autoFocus: true,
            minLength: 3,
            source: '{{ url_for("api.searchUsers", method="GET") }}',
            select: function( event, ui ) {
                    userId = ui.item.value;
                  }
        } );

        function selectContact() {
            $("#contactName").val( userId );
            $("#contactId-0").html( userId );
            $("#contactId-1").html( userId );
            contactSel = true;
            $('#contact_selector h3').removeClass('orange');
            enableButtonsIfOK();
            dialogU.dialog( "close" );
        }

        dialogU = $( "#sel-contact-dialog-form" ).show().dialog({
            autoOpen: false,
            height: 500,
            width: 600,
            modal: true,
            buttons: {
                "Set as contact person": selectContact,
                Cancel: function() {
                    dialogU.dialog( "close" );
                }
            },
            close: function() {
                formU[ 0 ].reset();
            }
        });

        formU = dialogU.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          selectContact();
        });

        $( "#change-user" ).button().on( "click", function() {
            dialogU.dialog( "open" );
        });

        $('#submitInstRespPledge').click(function() {
            $.ajax({
                url: "{{  url_for('api.createInstRespPledge') }}",
                data: $('#newInstRespPledgeForm').serialize(),
                type: 'POST',
                success: function(response) {
                    // console.log(response);
                    // alert(response.status + ' - ' + response.msg);
                    $('<div/>', { "class": "alert alert-info" } )
                        .html('<button type="button" class="close" data-dismiss="alert">×</button>\n' + response.status + ' - ' + response.msg)
                        .appendTo($('#warns'));
                    $('#warns').show();
                    // re-load the tables
                    irTaskTable.draw();
                    instUserTable.draw();
                    $('#workPledged_selector h3').removeClass('orange');
                },
                error: function(error) {
                    // console.log(error);
                    // alert('error: ' + [error.statusText, error.responseJSON['status'], error.responseJSON['msg']].join('\n'));
                    var msg = error.statusText + '<br/>';
                    if (error.responseJSON !== undefined) {
                        msg = msg + [error.responseJSON['status'], error.responseJSON['msg']].join('<br/>');
                    } else {
                        msg = msg + error.responseText + '<br/>';
                    }
                    $('<div/>', { "class": "alert alert-danger" } )
                        .html('<button type="button" class="close" data-dismiss="alert">×</button>\n' +
                              'error: ' + msg  )
                        .appendTo($('#warns'));
                    $('#warns').show();
                }
            });
        });

        $('#activateUserSelector').click(function() {
            $('#user_selector').show();
        });

        $('#findLastYearInstRespPledge').click(function() {
            $.ajax({
                url: "{{  url_for('api.findLastYearInstRespPledge') }}",
                data: $('#newInstRespPledgeForm').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                    alert(response.status + ' - ' + response.msg);
                    window.location.replace( response.target );
                    // $('<div/>', { "class": "alert alert-info" } )
                    //     .html('<button type="button" class="close" data-dismiss="alert">×</button>\n' + response.status + ' - ' + response.msg)
                    //     .appendTo($('#warns'));
                    // $('#warns').show();
                    // // re-load the tables
                    // irTaskTable.draw();
                    // instUserTable.draw();
                },
                error: function(error) {
                    console.log(error);
                    alert('error: ' + [error.statusText, error.responseJSON['status'], error.responseJSON['msg']].join('\n'));
                    var msg = error.statusText + '<br/>';
                    if (error.responseJSON !== undefined) {
                        msg = msg + [error.responseJSON['status'], error.responseJSON['msg']].join('<br/>');
                    } else {
                        msg = msg + error.responseText + '<br/>';
                    }
                    $('<div/>', { "class": "alert alert-danger" } )
                        .html('<button type="button" class="close" data-dismiss="alert">×</button>\n' +
                              'error: ' + msg  )
                        .appendTo($('#warns'));
                    $('#warns').show();
                }
            });
        });



    var irTaskTable = $('#instRespTasks').DataTable({
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "ajax": {
            "url": "{{ url_for('api.instRespTasks') }}",
            method : "POST",
            data: { 'year' : "{{ year }}",
                    "instCode": function() { return $("#instCode").val() },
                    "instId"  : function() { return $("#instId").val() },
            },
            beforeSend: function() {
                var start = new Date().getTime();
                $("#loading-time").html('loading data ... ');
            },
            complete: function(data) {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading data took '+ (stop-start).toFixed(0) +' msec.');
            },
            error : function( data , textStatus /* , jqXHR */ ) {
                console.log('error loading InstRespTasks from API !')
                console.log(textStatus);
                console.log(data);
            },
        },
        dataSrc: 'data',
        "columnDefs": [
            {
                "render": $.fn.dataTable.render.number("'", '.', 2),
                "targets": [5,6,7,8,10]
            },
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               data: "sel",
               targets : 0
            },
            { targets: 1, data: "proj"},
            { targets: 2, data: "act"},
            { targets: 3, data: "name",
               "render": function ( data, type, row ) {
                                var link = '';
                                if (row.taskId) {
                                    link = '(<a href="' + $SCRIPT_ROOT + '/showTask/' + row.taskId + '"> task </a>)';
                                }
                                return data+'<br />'+link+'';
                }
            },
            { targets: 4, data: "desc"},
            { targets: 5, data: "workNeeded"},
            { targets: 6, data: "pledged"},
            { targets: 7, data: "accepted"},
            { targets: 8, data: "wDone"},
            { targets: 9, data: "pldInst",
               "render": function ( data, type, row ) {
                                var res = '';
                                // console.log('row.iwork:', row, row.instWork);
                                if (row.instWork) {
                                    for (var iCode in row.instWork) {
                                        var iWorkItem = iCode + ' ('
                                            + row.instWork[iCode][0].toFixed(2) +  '/'
                                            + row.instWork[iCode][1].toFixed(2) +  '/'
                                            + row.instWork[iCode][2].toFixed(2) + ')';
                                        if (  iCode === "{{ inst.code }}" )  {
                                            iWorkItem = '<b>' + iWorkItem + '</b>';
                                        }
                                        iWorkItem = iWorkItem + '<br/>';
                                        res = res + iWorkItem;
                                        if (iCode === "-") {
                                            res = '-';
                                        }
                                    }
                                }
                                return res;
                }
            },
            { targets: -1, data: "taskId", visible:false },

        ],
        select : {  // select on the checkboxes:
            style:    'single',
            selector: 'tr',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    irTaskTable.on( 'select', function ( e, dt, type, indexes ) {
        $('#task_selector h3').removeClass('orange');
    });
    irTaskTable.on( 'deselect', function ( e, dt, type, indexes ) {
        $('#task_selector h3').addClass('orange');
    });


    function enableButtonsIfOK() {
        var contactName = $('#contactName').val();
        var nUsers = $('#user-names li').length;
        console.log( 'contact, nUsers: ', contactName, nUsers );
        if ( taskSel && 
             ( ( contactName !== ' No contact person selected yet' ) && ( contactName !== '' ) ) 
           ) { // we need to have at least a task and a contact person selected 
            $('#activateUserSelector').prop('disabled', false);
            // allow creation of pledge only if also at least one person is selected
            if ( nUsers > 0  ) { // at least one user selected manually, disable copy-over, enable creation of pledge
                $('#submitInstRespPledge').prop('disabled', false);
                $('#findLastYearInstRespPledge').prop('disabled', true);
            } else { // no user selected, enable copy-over, disable creation of pledge
                $('#submitInstRespPledge').prop('disabled', true);
                $('#findLastYearInstRespPledge').prop('disabled', false);
            }

        }
    }
    function disableButtons() {
        $('#findLastYearInstRespPledge').prop('disabled', true);
        $('#activateUserSelector').prop('disabled', true);
        $('#submitInstRespPledge').prop('disabled', true);
    }

    irTaskTable.on( 'select', function ( e, dt, type, indexes ) {
        var taskId = irTaskTable.cell(indexes,-1).data();
        var taskName = irTaskTable.cell(indexes,3).data();
        $('#taskId').val( taskId ).html( taskId );
        $('#taskName').val( taskName ).html( taskName );
        console.log('selected  taskId: ', taskId);
        if ( taskId > 0 ) {
            taskSel = true;
            enableButtonsIfOK();
        }
    });
    irTaskTable.on( 'deselect', function ( e, dt, type, indexes ) {
        $('#taskId').val( -1 );
        $('#taskName').val( '' ).html( '' );
        console.log('deselected ... ');
        taskSel = false;
        disableButtons();
    });

    // column-wise search
    $('#instRespTasks tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );
    setupColSearch(irTaskTable);
    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: irTaskTable,
                      buttonDivName : 'irTaskTableButtons',
                      noSelAll: true,
    });

    var instUserTable = $('#instUsers').DataTable({
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "ajax": {
            "url": "{{ url_for('api.instUsers') }}",
            method : "POST",
            data: { "year" : "{{ year }}",
                    "instCode": function() { return $("#instCode").val() },
                    "instId"  : function() { return $("#instId").val() },
                  },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading data ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading data took '+ (stop-start).toFixed(0) +' msec.');
            },
            error : function( data , textStatus /* , jqXHR */ ) {
                console.log('error loading InstUsers from API !')
                console.log(textStatus);
                console.log(data);
            },
        },
        dataSrc: 'data',
        "columnDefs": [
            {
                "render": $.fn.dataTable.render.number("'", '.', 2),
                "targets": [2,3,4]
            },
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               data: "sel",
               targets : 0
            },
            { targets: 1, data: "name", render: function ( data, type, row ) {
                    return '<a href="showUser/' + row.username+ '" target=_"blank">' + row['name'] + "</a>";
                }
            },
            { targets: 2, data: "due"},
            { targets: 3, data: "appDue"},
            { targets: 4, data: "pledged"},
            { targets: 5, data: "author", render: function ( data, type, row ) {
                                    if (row.author === 0) {
                                        return "No";
                                    } else {
                                        return "Yes";
                                    }
                                },
            },
            { targets: -1, data: "cmsId", visible:false },
        ],
        "createdRow": function( row, data, dataIndex ) {
            if (data.author > 0) {
                $(row).addClass('author');
            }
            if (data.appDue > 0) {
                $(row).addClass('applicant');
            }
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'tr',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
        order: [[ 1, 'asc' ]],
    });

    instUserTable.on( 'select', function ( e, dt, type, indexes ) {
        if (type !== 'row') {return;};

        var selUsers = $('#userIdList').val().split(',');
        if (selUsers.indexOf('') > -1) { selUsers.splice( selUsers.indexOf(''), 1); }
        var userNames = $('#userNameList').html().split(';');
        if (userNames.indexOf('') > -1) { userNames.splice( userNames.indexOf(''), 1); }

        instUserTable.cells(indexes,-1).every( function(ridx, cidx, tlc, clc) {
            if (this.data() !== '' ) {
                // only add if not yet already in
                if ( selUsers.indexOf(''+this.data()) === -1) {
                    selUsers.push('' + this.data());
                    var userName = instUserTable.cell(ridx, 1).data();
                    // userNames.push( userName );
                    $('#user-names').append(
                        $('<li>').append( userName ).attr("id", this.data())
                    );
                    console.log('appended user ',  userName, ' to usernames.', $('#user-names li').length)
                    enableButtonsIfOK();
                }
            }
        })
        $('#userIdList').val(selUsers.join(','));
        // console.log(selUsers.length, 'selected users: ', selUsers,  userNames);
    });
    instUserTable.on( 'deselect', function ( e, dt, type, indexes ) {
        if (type !== 'row') {return;};

        var selUsers = $('#userIdList').val().split(',');
        if (selUsers.indexOf('') > -1) { selUsers.splice( selUsers.indexOf(''), 1); }
        // var userNames = $('#userList').val().split(';');
        // if (userNames.indexOf('') > -1) { userNames.splice( userNames.indexOf(''), 1); }
        instUserTable.cells(indexes,-1).every( function(ridx, cidx, tlc, clc) {
            if (selUsers.indexOf(''+this.data()) > -1) {
                selUsers.splice(selUsers.indexOf(''+this.data()), 1);
                var uNameRem = instUserTable.cell(ridx, 1).data();
                console.log('removing user ', uNameRem, ' from usernames.')
                $('#'+ this.data()).remove();
                enableButtonsIfOK();
            }
        })
        $('#userIdList').val(selUsers.join(','));
        // $('#userList').val(userNames.join(';'));
        // console.log(selUsers.length, '(de)selected users: ', selUsers, userNames);
    });


   $('#instUsers tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );
    setupColSearch(instUserTable);
    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: instUserTable,
                      buttonDivName : 'instUserTableButtons',
                      noSelAll: true,
    });

    });
    </script>

{% endblock %}
