{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}


{% block title %}iCMS - EPR Pledge {{ pledge.id }}{% endblock %}

{% block page_content %}

{% if canAdmin %}
   <div class="brick padded">

    <div id="chg-inst-dialog-form" class="ui-front" title="Change institute" hidden>
      <p class="validateTips">Start typing a few characters of the institute's name or code, then click on the institute in the list.</p>
      <form>
        <label for="instSel-1">Select the institute to which the pledge should be accounted: </label>
        <input id="instSel-1" name="instSel-1" class="text ui-widget-content ui-corner-all"/>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </form>
    </div>
    </div>
{% endif %}

<div class="page-header">
    <div class="brick padded pledge-header">
        <h1> Info for pledge id {{ pledge.id }} in {{ pledge.year }}</h1>
        {% if pledge.status.lower() == 'rejected' %}
            <h2 class="alert alert-danger">This pledge is rejected.</h2>
        {% endif %}
        <p>
            <b>User:</b> <span id="userId-0">{{ '%s - %s (CERNid: %i)' % (user.name, userInst.code, user.hrId) }}</span> <br />
            <b>Institute:</b> <span id="instId-0">{{ plInst.code }}</span>
                {% if canAdmin and pledge.status.lower() != 'rejected' %}
                        &nbsp; &nbsp; &nbsp; <button id="change-inst"> Change institute for pledge </button>
                {% endif %}
                <br />
            <b>Task:</b> {{ pledge.taskId }} - {{ task.name }}  <br />
            <b>Needed work:</b> {{ task.neededWork}} (months) <br />
            <b>Pledged work:</b> {{ pledge.workTimePld }} (months) <br />
            {% if pledge.status.lower() == 'rejected' %}
                <br />
                <b>Work accepted:</b> {{ pledge.workTimeAcc }} (months) <br />
                <b>Work done:</b> {{ pledge.workTimeDone }} (months) <br />
                <b>Work done so far:</b> {{ pledge.workedSoFar}} (months) <br />
                <b>Status:</b> {{ pledge.status }} <br />
            {% endif %}
        </p>
        <p>
            <b>Note:</b> The field "Work done so far" is filled by the user and reflects the amount of work the user states to have done on the pledge.<br/>
            {% if canAdmin %}
            The field "Work done" is the amount of work which the project/activity/task manager certifies the user has done for the task.
            {% endif %}
        </p>
        {% if form %}
            <div class="brick padded pledge-footer">
                <div class="col-md-9">
                    <form action="" method="post" name="newPledge">
                        {{ form.hidden_tag() }}

                        <input type="hidden" id="userId" name="userId" value="" />
                        <input type="hidden" id="instId" name="instId" value="" />

                      <p> {{ form.workTimePld.label }} <br/> {{ form.workTimePld }} </p>
                      {% if form.workTimeAcc %}  <p> {{ form.workTimeAcc.label }} <br/> {{ form.workTimeAcc }} </p> {% endif %}
                      {% if form.workedSoFar %}  <p> {{ form.workedSoFar.label }} <br/> {{ form.workedSoFar }} </p> {% endif %}
                      {% if form.workTimeDone %} <p> {{ form.workTimeDone.label }} <br/> {{ form.workTimeDone }} </p> {% endif %}
                      {% if form.status %}       <p> {{ form.status.label }} <br/> {{ form.status }} </p> {% endif %}
                      <p><input type="submit" value="Submit"></p>
                    </form>
                </div>
            </div>
            {%  if canAdmin %}
                <div class="brick padded pledge-footer">
                    <div class="col-md-9">
                        <form action="{{ url_for( 'main.rejectPledge', id=pledge.id ) }}" method="post" name="rejectPledge">
                            {{ form.hidden_tag() }}
                            <input type="hidden" id="pledgeId" name="pledgeId" value="{{ pledge.id }}" />
                            <p class="alert-danger"><input type="submit" value="rejectPledge">  Reject this pledge </p>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}

    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='icmsepr.js') }}"></script>

<script language="JavaScript">
$(function() {

    var dialogU, formU, dialogI, formI;
    var userId, instId;

    $( "#userSel-0" ).autocomplete( {
        autoFocus: true,
        minLength: 3,
        source: '{{ url_for("api.searchUsers") }}',
        select: function( event, ui ) {
                userId = ui.item.value;
                instId = getInstId( ui.item.value );
                $( "#userSel-0" ).autocomplete("close");
              }
    } );

    function changeInst() {
        $("#instId-0").html( instId );
        $("#instId").val( instId );
        dialogI.dialog( "close" );
{#        alert("would now go and change inst for pledge to " + instId);#}
    }

    dialogI = $( "#chg-inst-dialog-form" ).show().dialog({
        autoOpen: false,
        height: 500,
        width: 600,
        modal: true,
        buttons: {
            "Confirm new Institute": changeInst,
            Cancel: function() {
                dialogI.dialog( "close" );
            }
        },
        close: function() {
            formI[ 0 ].reset();
        }
    });

    formI = dialogI.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      changeInst();
    });

    $( "#change-inst" ).button().on( "click", function() {
        dialogI.dialog( "open" );
    });

    $( "#instSel-1" ).autocomplete( {
        autoFocus: true,
        minLength: 3,
        source: '{{ url_for("api.searchInstCode") }}',
        select: function( event, ui ) {
                instId = ui.item.value;
                $( "#instSel-1" ).autocomplete("close");
              }
    } );

});

</script>


{% endblock %}
