{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Country Overview in {{ year }} {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR Country Overview in {{ year }} </h1>
</div>

<div>
    <p>
        <b>Note:</b> The EPR pledged values on this page are cached for performance reasons,
        the exact value is provided in the individual institutes view. The cache
        is updated every hour.
    </p>
    <p>
        The "# of Authors" reflect the possible changes of authorship flags during the year, hence the fractional numbers. "Applicant Due" is the work needed from the sum of the "newcomers". "Expected" is the sum of the "Applicant Due" and "# of Authors" times 3 months for 2016/2017, 4 months for 2018/2019.
    </p>
</div>

<div class="form">
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
    </p>
</div>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <table id="countryTable" class="dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th> <!-- checkbox - col 1-->
                <th>Name</th>
                <th># of Authors</th>
                <th>Applicant Due</th>
                <th>Expected</th>
                <th>Pledged</th>
                <th>Pledged/<br/>Expected</th> <!-- col 5 -->
                <th>Accepted</th>
                <th>WorkDone</th>
                <th>WorkDone/<br/>Expected</th>
                <th>ShiftsPld</th>
                <th>ShiftsDone</th>
                <th>ShiftsSum/<br/>shifts expected</th>
                <th>Nr. of Inst.</th>
                <th>Authors</th> <!-- col 10 -->
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th> <!-- checkbox - col 1-->
                <th>Name</th>
                <th># of Authors</th>
                <th>Applicant Due</th>
                <th>Expected</th>
                <th>Pledged</th>
                <th>Pledged/<br/>Expected</th> <!-- col 5 -->
                <th>Accepted</th>
                <th>WorkDone</th>
                <th>WorkDone/<br/>Expected</th>
                <th>ShiftsPld</th>
                <th>ShiftsDone</th>
                <th>ShiftsSum/<br/>shifts expected</th>
                <th>Authors</th> <!-- col 10 -->
                <th>Nr. of Inst.</th>
            </tr>
            <tr>
                <td></td> <!-- checkbox - col 1-->
                <td>Name</td>
                <td># of Authors</td>
                <td>Applicant Due</td>
                <td>Expected</td>
                <td>Pledged</td>
                <td>Pledged/<br/>Expected</td> <!-- col 5 -->
                <td>Accepted</td>
                <td>WorkDone</td>
                <td>WorkDone/<br/>Expected</td>
                <td>ShiftsPld</td>
                <td>ShiftsDone</td>
                <td>ShiftsSum/<br/>shifts expected</td>
                <td>Authors</td> <!-- col 10 -->
                <td>Nr. of Inst.</td>
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // activate sub-menus in the nav-bar
    $('[data-submenu]').submenupicker();

    // column-wise search
    $('#countryTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );


    var start;
    var table = $('#countryTable').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],


        "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                if (data.length > 0) {
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                    };

                    var i = -1;
                    var numCols = [2,3,4,5,7,8,10,11];
                    $( "#countryTable tfoot tr" ).children("td").each( function() {
                        i++;
                        if ( numCols.indexOf(i) != -1 ) {
                            // totals over all pages
                            totals = api.column( i ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            },0 );

                            // totals_page over this page
                            totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                            // for shifts pledged, add up the done shifts as well:
                            if ( i == 10 ){
                                totals = totals + api.column( i+1 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                },0 );
                                totals_page = totals_page + api.column( i+1, { page: 'current'} ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                            }

                            totals_page = parseFloat(totals_page);
                            totals      = parseFloat(totals);
                            // Update footer
                            $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                        } else if (i==1) {
                            $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                        } else {
                            $(this).text('');
                        }
                    });
                }
        },

        "ajax": {
            "url": "{{ url_for("api.countryOverview") }}",
            method : "POST",
            data: { "year" : {{ year }} },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },

        "order": [[1, 'asc']],
        "columnDefs": [
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               data: "check",
               targets : 0
            },
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                                    var cName = row.name;
                                    var url = '{{ url_for("main.showCountry") }}';
                                    return '<a href="'+url+'/'+cName+'"> '+row.name+' </a>';
                },
                "targets": 1
            },
            {
                "render": function ( data, type, row ) {
                    return ' '+data.toFixed(2);
                },
                "targets": [2,3,4,5,6,7,8,9,11]
            },
            { "data": "name"      , targets:1 },
            { "data": "actAuthors" , targets:2 },
            { "data": "sumEprDue" , targets:3 },
            { "data": "Expected"  , targets:4 },
            { "data": "Pledged"   , targets:5 },
            { "data": "PledgedFract" , targets:6 },
            { "data": "Accepted" , targets:7 },
            { "data": "Done"     , targets:8 },
            { "data": "DoneFract", targets:9 },
            { "data": "ShiftsPld",  targets:10,
                      "render": function ( data, type, row ) {
                                            return ' '+(data + row.ShiftsDone).toFixed(2);
                                         } },
            { "data": "ShiftsDone", targets:11 },
            { "data": "code",       targets:12,
                "render": function ( data, type, row ) {
                        var cspDoneFract = 0.;
                        var retStr = '0.00';
                        if (row['actAuthors']>0) {
                            cspDoneFract = (row["ShiftsDone"]+row["ShiftsPld"])/($CSP_PER_AUTHOR*row['actAuthors'])
                            retStr = '' + cspDoneFract.toFixed(2);
                            retStr = retStr + '<br/>';
                            retStr = retStr + '('+($CSP_PER_AUTHOR*row["actAuthors"]).toFixed(2)+')';
                        }
                        return retStr;
                  },
             },
            { "data": "nInst"    , targets:13 },
            { "data": "Authors"  , targets:14 },
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
            if ( ( data['Expected'] != '-' ) && ( data['Expected'] != 0 )
                ) {
                var col = getColour(data['PledgedFract']);
                $('td', row).eq(5).addClass(col);
                $('td', row).eq(6).addClass(col);

                col = getColour(data['DoneFract']);
                $('td', row).eq(8).addClass(col);
                $('td', row).eq(9).addClass(col);

            }
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table, buttonDivName : 'tableButtons' } );
    table.draw();

    setupColSearch(table);

    var data = table.buttons.exportData( {
    } );

}); // end document.ready ...

</script>

{% endblock %}
