{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

{% endblock %}

{% block title %}iCMS - EPR Country Information for {{ country }} in {{ year }} {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR Country Information for {{ country }} in {{ year }} </h1>
</div>

<div class="form">
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>

<button id="showHideHelp" type='button'>Show Help</button>
<div id="info-help" hidden>
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
    </p>
</div>

<div class="brick huge padded">
<div class="summary-info">
    <table>
        <tr>
            <td class="summary-label"> Authors :</td>
            <td class="summary-data"> {{  '%3.2f' % (summary['actAuthors'],) }} </td>
            <td class="summary-label"> Work expected by new members (authorship applicants) ("Due"):</td>
            <td class="summary-data"> {{  '%3.2f' % (summary['sumEprDue'],) }} </td>
            <td class="summary-label"> Total Work needed (includes "Applicant Due"):</td>
            <td class="summary-data"> {{  '%3.2f' % (summary['Expected']+summary['sumEprDue']) }} </td>
            <td class="summary-label"> Total Central Shift Credit points (CSP) needed:</td>
            <td class="summary-data"> {{  '%3.2f' % (navInfo.cspPerAuthor*summary['actAuthors'],) }} </td>
        </tr>
    </table>
    <table>
        <tr>
        {% for k in ['Pledged', 'Accepted', 'Done'] %}
            <td class="summary-label"> {{ k }}: <br/>(fraction of work expected)</td>
            <td class="summary-data">
                {{ "%8.2f" % summary[k] }} <br />
                ({% if (summary['Expected']+summary['sumEprDue']) > 0 %} {{ '%3.2f' % (summary[k]/(summary['Expected']+summary['sumEprDue']),) }} {% else %} (0.0) {%endif%})
            </td>
        {% endfor %}
        </tr>
        <tr>
            <td class="summary-label"> WorkAccepted+ShiftsDone: <br/>(fraction of work expected)</td>
            <td class="summary-data"> {{ '%.2f' % (summary['Accepted'] + summary['ShiftsDone']) }}  <br />
                {% if (summary['Expected']+summary['sumEprDue']) > 0 %}
                ({{ '%.2f' % ( (summary['Accepted'] + summary['ShiftsDone'])/(summary['Expected']+summary['sumEprDue']),) }})
                {% else %}
                ( 0.00 )
                {% endif %}

            </td>
            <td class="summary-label"> WorkDone+ShiftsDone: <br/>(fraction of work expected)</td>
            <td class="summary-data"> {{ '%.2f' % (summary['Done'] + summary['ShiftsDone']) }} <br />
                {% if (summary['Expected']+summary['sumEprDue']) > 0 %}
                ({{ '%.2f' % ( (summary['Done'] + summary['ShiftsDone'])/(summary['Expected']+summary['sumEprDue']),) }})
                {% else %}
                ( 0.00 )
                {% endif %}

            </td>
        {% for k in ['ShiftsDone'] %}
            <td class="summary-label"> {{ k }}: <br/>(fraction of work expected)</td>
            <td class="summary-data">
                {{ "%8.2f" % summary[k] }} <br />
                ({% if (summary['Expected']+summary['sumEprDue']) > 0 %} {{ '%3.2f' % (summary[k]/(summary['Expected']+summary['sumEprDue']),) }} {% else %} (0.0) {%endif%})
            </td>
        {% endfor %}
        </tr>
        <tr>
        {% for k in ['ShiftsDone', 'ShiftsPld'] %}
            <td class="summary-label"> {{ k }}: </td>
            <td class="summary-data">
                {% if summary[k] %}
                {{ "%8.2f" % summary[k] }}
                {% else %}
                ( 0.00 )
                {% endif %}
            </td>
        {% endfor %}
        <td class="summary-label"> Shifts Done+Pledged: <br/>(fraction of shifts expected) </td>
        <td class="summary-data">
            {% if summary['ShiftsDone']+summary['ShiftsPld'] %}
            {{ "%8.2f" % (summary['ShiftsDone']+summary['ShiftsPld']) }} <br />
            ({% if summary['actAuthors'] > 0 %} {{ '%3.2f' % ((summary['ShiftsDone']+summary['ShiftsPld'])/(navInfo.cspPerAuthor*summary['actAuthors']),) }} {% else %} (0.0) {%endif%})
            {%endif%}
        </tr>
    </table>
</div>
</div>

<p>
    <hr />
</p>

    <p>
        The "ShiftsFrac/(needed)" column shows the fraction of shifts (in CSP) done+pledged
        relative to the expected number of CSP ($CSP_PER_AUTHOR for each author).
    </p>

<div name="tableButtons" id="tableButtons"></div>

<div class="brick huge padded">
    <table id="countryTable" class="dataTable" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th></th> <!-- checkbox - col 1-->
                <th>Name</th>
                <th># of Authors</th>
                <th>Applicant Due</th>
                <th>Expected</th>
                <th>Pledged</th>
                <th>Pledged/<br/>Expected</th> <!-- col 5 -->
                <th>Accepted</th>
                <th>WorkDone</th>
                <th>WorkDone/<br/>Expected</th>
                <th>ShiftsDone (CSP)</th>
                <th>ShiftsDone+Pld (CSP)</th>
                <th>ShiftsFrac<br/>(needed)</th>
                <th>Authors</th> <!-- col 10 -->
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th> <!-- checkbox - col 1-->
                <th>Name</th>
                <th># of Authors</th>
                <th>Applicant Due</th>
                <th>Expected</th>
                <th>Pledged</th>
                <th>Pledged/<br/>Expected</th> <!-- col 5 -->
                <th>Accepted</th>
                <th>WorkDone</th>
                <th>WorkDone/<br/>Expected</th>
                <th>ShiftsDone (CSP)</th>
                <th>ShiftsDone+Pld (CSP)</th>
                <th>ShiftsFrac<br/>(needed)</th>
                <th>Authors</th> <!-- col 10 -->
            </tr>
            <tr>
                <td></td> <!-- checkbox - col 1-->
                <td># of Authors</td>
                <td>Applicant Due</td>
                <td>Due</td>
                <td>Expected</td>
                <td>Pledged</td>
                <td>Pledged/<br/>Expected</td> <!-- col 5 -->
                <td>Accepted</td>
                <td>WorkDone</td>
                <td>WorkDone/<br/>Expected</td>
                <td>ShiftsDone (CSP)</td>
                <td>ShiftsDone+Pld (CSP)</td>
                <td>ShiftsFrac<br/>(needed)</td>
                <td>Authors</td> <!-- col 10 -->
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script language="JavaScript">
$(document).ready(function() {

    setupHelpButton();

    // column-wise search
    $('#countryTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );


    var start;
    var table = $('#countryTable').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],

        "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                if (data.length > 0) {
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                    };

                    var i = -1;
                    var numCols = [2,3,4,5,7,8,10,11];
                    $( "#countryTable tfoot tr" ).children("td").each( function() {
                        i++;
                        if ( numCols.indexOf(i) != -1 ) {
                            // totals over all pages
                            totals = api.column( i ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            },0 );

                            // totals_page over this page
                            totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                            // for shifts pledged, add up the done shifts as well:
                            if ( i == 11 ){
                                totals = totals + api.column( i-1 ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                },0 );
                                totals_page = totals_page + api.column( i-1, { page: 'current'} ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                            }

                            totals_page = parseFloat(totals_page);
                            totals      = parseFloat(totals);
                            // Update footer
                            $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                        } else if (i==1) {
                            $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                        } else {
                            $(this).text('');
                        }
                    });
                }
        },
        "ajax": {
            "url": "{{ url_for("api.countryInfo", name=country) }}",
            method : "POST",
            data: { "year" : {{ year }} },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "order": [[1, 'asc']],
        "columnDefs": [
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               data: "check",
               targets : 0
            },
            {
                "render": function ( data, type, row ) {
                    if (data) {
                        return ' ' + data.toFixed(2);
                    } else {
                        return '0.00';
                    }
                },
                "targets": [2,3,4,5,6,7,8,9,10]
            },
            { "data": "code"      ,
              "render": function ( data, type, row ) {
                                    var url = '{{ url_for("main.showInstitute") }}';
                                    return '<a href="'+url+'/'+data+'"> '+data+' </a>';
                                 },
              targets:1 },
            { "data": "actAuthors" , targets:2 },
            { "data": "sumEprDue" , targets:3 },
            { "data": "Expected"  , targets:4 },
            { "data": "Pledged"   , targets:5 },
            { "data": "PledgedFract" , targets:6 },
            { "data": "Accepted" , targets:7 },
            { "data": "Done"     , targets:8 },
            { "data": "DoneFract", targets:9 },
            { "data": "ShiftsDone", targets:10 },
            { "data": "ShiftsPld", targets:11,
              "render": function ( data, type, row ) {
                                    return ''+(data+row["ShiftsDone"]).toFixed(2);
                                 },
            },
            { "data": "ShiftsDone", targets:12,
              "render": function ( data, type, row ) {
                        var cspDoneFract = 0.;
                        var retStr = '0.00';
                        if (row['actAuthors']>0) {
                            cspDoneFract = (row["ShiftsDone"]+row["ShiftsPld"])/($CSP_PER_AUTHOR*row['actAuthors'])
                            retStr = '' + cspDoneFract.toFixed(2);
                            retStr = retStr + '<br/>';
                            retStr = retStr + '('+($CSP_PER_AUTHOR*row["actAuthors"]).toFixed(2)+')';
                        }
                        return retStr;
                  },
            },
            { "data": "Authors"  , targets:13, "visible": false },
        ],
//        // add colour to the taks done related fields
//        "createdRow": function ( row, data, index ) {
//                                    if ( data.isAuthor ) {
//                                        for (i=0; i<11; i++){
//                                            $('td', row).eq(i).addClass('lawngreen');
//                                        }
//                                    }
//        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    // add our buttons to the table and prepend them to the table:
    icmsEprButtons( { table: table,
                      buttonDivName : 'tableButtons',
                      addOnButtons : [
                            {
                            text: "Send mail to CBI/CBDs <br/> of selected institutes",
                            action: function ( e, dt, node, config ) {
                                        sendMailInstLeaders( table, table.buttons.exportData( {
                                            modifier: { selected: true }
                                        } ) );
                                        dt.rows().deselect();
                                    } // end function
                            } // end button "SendMail selected"
                      ]
    } );
    table.draw();

    setupColSearch(table);

}); // end document.ready ...

</script>

{% endblock %}
