{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablesorter.theme.blue.css') }}">

{% endblock %}

{% block title %}

    iCMS - EPR Tasks/Activities for {% if project %} project {{ project.name }} {% else %} all projects {% endif %} in {{ year }}

{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>
            {% if initialVersion %}
                <b> INITIAL Values for </b>
            {% endif %}
            iCMS - EPR Tasks/Activities for {% if project %} project {{ project.name }} {% else %} all projects {% endif %} in {{ year }}
        </h1>
    </div>

    {% if project %}
    <h4>
        <a href="{{ url_for('main.showProjectInstCountry',projId='%i'%project.id) }}">Contributions to {{project.name}} by institutes and countries</a>
    </h4>
    <h4>
        <a href="{{ url_for('main.showProjectInstAuthors',projId='%i'%project.id) }}">Authors by project for institutes</a> -- 
        <a href="{{ url_for('main.showInstProjectAuthors',projId='%i'%project.id) }}">Authors by institute for projects (transposed view)</a>
    </h4>
    {% endif %}

    <div class="form">
        {% if form %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>

    <div id="events"></div>

    {% if project %}
    <div>
        <a href="mailto:{{ pmEmails }}?Subject=Request%20for%20information"> Send a mail to the project managers of this project</a>
    </div>
    {% endif %}


        <button id="showHideHelp" type='button'>Show Help</button>

    <div id="info-help" hidden>
        <p>
            You can click on the text in the "Project", "Activity" and "Task name" columns to show the description (if
            provided by the corresponding managers) and names of the corresponding (Project/Activity/Task) managers. In
            case you want to contact them, simply click on the names, a pre-filled window with your mail client will open.
        </p>
        <p>
            Clicking on the cells in the "Fraction Done" column will show the actual pledges for this task.
        </p>
        <p>
            Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order.
        </p>
        <p>
            At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND". So if you look for a string in the Activity column, you can restrict the resulting rows to shifts by combining this search with a search for "shift" in the "Task Type" column.
        </p>
        <p>
            You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
        </p>
    </div>

    <div id="tableButtons">
    </div>

    <div class="brick huge padded">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"> <a href="#tab-table1" data-toggle="tab">Tasks     </a> </li>
            <li>                <a href="#tab-table2" data-toggle="tab">Activities</a> </li>
            <li>                <a href="#tab-table3" data-toggle="tab">Projects  </a> </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane  active" id="tab-table1">
                <table id="projectTaskTable" class="table table-striped table-bordered" cellspacing="0" width="100%" align="left">
                <!--<table id="projectTaskTable" class="display compact cell-border" cellspacing="0" width="100%">-->
                    <thead>
                        <tr>
                            <th> </th>   <!-- col 1 for checkboxes -->
                            <th>Project/LV1</th>
                            <th>Activity/LV2</th>
                            <th>LV3</th>
                            <th class="left-border">TaskName</th> <!-- col 5 -->
                            <th>Work Needed</th>
                            <th>Work+Shifts Done</th>
                            <th>Fraction Done</th>
                            <th>Work+Shifts Pledged</th>
                            <th>Fraction Pledged</th>
                            <th>Pledges Accepted</th>
                            <th>Fraction Accepted</th>
                            <th>% of work at CERN</th>
                            <th>Type of task</th>
                            <th>Locked</th>
                            <th>Comment</th>
                        {% if project and projId > 0 %}
                            <th class="left-border">New Pledge</th>
                            <th>Edit Task</th>                  <!-- col 11 -->
                            <th>Task description</th>
                        {% endif %}
                            <!--<th>TaskCode</th>           &lt;!&ndash; contains taskId, userId and instId &ndash;&gt;-->
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th> </th>   <!-- col 1 for checkboxes -->
                            <th>Project/LV1</th>
                            <th>Activity/LV2</th>
                            <th>LV3</th>
                            <th>TaskName</th> <!-- col 5 -->
                            <th>Work Needed</th>
                            <th>Work+Shifts Done</th>
                            <th>Fraction Done</th>
                            <th>Work+Shifts Pledged</th>
                            <th>Fraction Pledged</th>
                            <th>Pledges Accepted</th>
                            <th>Fraction Accepted</th>
                            <th>% of work at CERN</th>          <!-- col 11 -->
                            <th>Type of task</th>
                            <th>Locked</th>
                            <th>Comment</th>
                        {% if project and projId > 0 %}
                            <th>New Pledge</th>
                            <th>Edit Task</th>
                            <th>Task description</th>
                        {% endif %}
                            <!--<th>TaskCode</th>           &lt;!&ndash; contains taskId, userId and instId &ndash;&gt;-->
                        </tr>
                        <tr> <!-- for the search fields -->
                            <td> </td>   <!-- col 1 for checkboxes -->
                            <td>Project/LV1</td>
                            <td>Activity/LV2</td>
                            <td>LV3</td>
                            <td>TaskName</td> <!-- col 5 -->
                            <td>Work Needed</td>
                            <td>Work+Shifts Done</td>
                            <td>Fraction Done</td>
                            <td>Work+Shifts Pledged</td>
                            <td>Fraction Pledged</td>
                            <td>Pledges Accepted</td>
                            <td>Fraction Accepted</td>
                            <td>% of work at CERN</td>
                            <td>Type of task</td>
                            <td>Locked</td>
                            <td>Comment</td>
                        {% if project and projId > 0 %}
                            <td>New Pledge</td>
                            <td>Edit Task</td>                  <!-- col 11 -->
                            <th>Task description</th>
                        {% endif %}
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane" id="tab-table2">
                <table id="projectActTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <!--<table id="projectActTable" class="display compact cell-border" cellspacing="0" width="100%">-->
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Project/LV1</th>
                            <th>Activity/LV2</th>
                            <th class="left-border">Work Needed</th>
                            <th>Work+Shifts Done</th>
                            <th>Fraction Done</th>
                            <th>Work+Shifts Pledged</th>
                            <th>Fraction Pledged</th>
                            <th>Pledges Accepted</th>
                            <th>Fraction Accepted</th>
                            <th>Pledges New</th>
                            <th>Fraction New</th>
                            <th>Pledges Rejected</th>
                            <th>Fraction Rejected</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th> </th>
                            <th>Project/LV1</th>
                            <th>Activity/LV2</th>
                            <th class="left-border">Work Needed</th>
                            <th>Work+Shifts Done</th>
                            <th>Fraction Done</th>
                            <th>Work+Shifts Pledged</th>
                            <th>Fraction Pledged</th>
                            <th>Pledges Accepted</th>
                            <th>Fraction Accepted</th>
                            <th>Pledges New</th>
                            <th>Fraction New</th>
                            <th>Pledges Rejected</th>
                            <th>Fraction Rejected</th>
                        </tr>
                        <tr> <!-- for the search fields -->
                            <td> </td>
                            <td>Project/LV1</td>
                            <td>Activity/LV2</td>
                            <td class="left-border">Work Needed</td>
                            <td>Work+Shifts Done</td>
                            <td>Fraction Done</td>
                            <td>Work+Shifts Pledged</td>
                            <td>Fraction Pledged</td>
                            <td>Pledges Accepted</td>
                            <td>Fraction Accepted</td>
                            <td>Pledges New</td>
                            <td>Fraction New</td>
                            <td>Pledges Rejected</td>
                            <td>Fraction Rejected</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane" id="tab-table3">
                <table id="projectSummaryTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Project/LV1</th>
                            <th class="left-border">Work Needed</th>
                            <th>Work+Shifts Done</th>
                            <th>Fraction Done</th>
                            <th>Work+Shifts Pledged</th>
                            <th>Fraction Pledged</th>
                            <th>Pledges Accepted</th>
                            <th>Fraction Accepted</th>
                            <th>Pledges New</th>
                            <th>Fraction New</th>
                            <th>Pledges Rejected</th>
                            <th>Fraction Rejected</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th> </th>
                            <th>Project/LV1</th>
                            <th class="left-border">Work Needed</th>
                            <th>Work+Shifts Done</th>
                            <th>Fraction Done</th>
                            <th>Work+Shifts Pledged</th>
                            <th>Fraction Pledged</th>
                            <th>Pledges Accepted</th>
                            <th>Fraction Accepted</th>
                            <th>Pledges New</th>
                            <th>Fraction New</th>
                            <th>Pledges Rejected</th>
                            <th>Fraction Rejected</th>
                        </tr>
                        <tr> <!-- for the search fields -->
                            <td> </td>
                            <td>Project/LV1</td>
                            <td class="left-border">Work Needed</td>
                            <td>Work+Shifts Done</td>
                            <td>Fraction Done</td>
                            <td>Work+Shifts Pledged</td>
                            <td>Fraction Pledged</td>
                            <td>Pledges Accepted</td>
                            <td>Fraction Accepted</td>
                            <td>Pledges New</td>
                            <td>Fraction New</td>
                            <td>Pledges Rejected</td>
                            <td>Fraction Rejected</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

{{ super() }}
{{ pagedown.include_pagedown() }}

<script src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.tablesorter.widgets.js') }}"></script>

<script language="JavaScript">
$(document).ready(function() {

    getUAICInfo( "{{ url_for("api.projectUserInsts") }}", "{{ project.id }}", {{ session['year'] }});
    getProjectCounts( "{{ url_for("api.projectCounts") }}", "{{ project.id }}", {{ session['year'] }});

    // make sure the buttons get added back to the active table of the tabs:
    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {

        $( '#tableButtons').empty();
        // add our buttons to the table and prepend them to the table:
        icmsEprButtons( { buttonDivName : 'tableButtons' } );

        $.fn.dataTable.tables( {visible: true, api: true} ).ajax.reload();
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();

    } );

    // column-wise search
    $('#projectTaskTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    // column-wise search
    $('#projectActTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    // column-wise search
    $('#projectSummaryTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );
    var start;
    var events = $("#events");

    var tableT = $("#projectTaskTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": icmsEprDOM(),

        "footerCallback": function (row, data, start, end, display) {
            return footerSummary( row, data, start, end, display, this.api(), "projectTaskTable", [5,6,8,10], [7,9,11], 4)
        },
        "ajax": {
            {%  if project %}
                url : '{{ url_for("api.projectTaskInfo", code=project.code) }}',
            {% else %}
                url : '{{ url_for("api.projectTaskInfo", code="all") }}',
            {% endif %}
            type:"POST",
            data: { "year" : {{ year }}, "initial" : "{{ initialVersion }}" },
            "dataSrc": "projectTasks",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [

            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               targets : 0
            },
            { "data": "checkbox"   , targets:0 },
            { "data": "pName"      , targets:1,
               className : "project-description",
               "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
             },
            { "data": "aName"      , targets:2,
               className : "activity-description",
               "render": function ( data, type, row ) { return data+'<div id="activity-desc"></div>'; }
            },
            { "data": "task.level3"  , targets:3,
            },
            { "data": "task.name"  , targets:4, // add descriptions for tasks
               "class" : "left-border task-description",
               "render": function ( data, type, row ) {
                                var link = '';
                                if (row.task) {
                                    link = '<a href="' + $SCRIPT_ROOT + '/showTask/' + row.task.code + '"> task </a>';
                                }
                                return data+'<br />('+link+') <div id="task-desc"></div>';
                }
            },
            { "data": "task.neededWork" , targets:5,
                  "render": function ( data, type, row ) { if (data) {return ' '+data.toFixed(2);} else {return '-';} }
            },
            { "data": "sumDone"         , targets:6,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctDone"         , targets:7,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2)+'<div id="task-pledges"></div>';}
            },
            { "data": "sumPledged" , targets: 8,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2)+'<div id="task-pledges"></div>';}
            },
            { "data": "pctPld"  , targets: 9,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "sumAcc" , targets: 10,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctAcc"  , targets: 11,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "task.pctAtCERN" , targets: 12,
                  "render": function ( data, type, row ) {
                                    if (!data) { return '-'; }
                                    if (data < 1.5) {
                                       return ' '+(data*100.).toFixed(0);
                                    } else {
                                       return ' '+data.toFixed(0);
                                    }
                                  }
            },
            { "data": "task.taskType"   , targets: 13,
              "render": function ( data, type, row ) {
                            // console.log(row);
                            {% if year < 2019 %}
                                if (row.task) {
                                    return data + '<br/>(' + row.task.kind + ')';
                                } else {
                                    return data + '( - )';
                                }
                            {% else %}
                                return data;
                            {% endif %}
                        }
            },
            { "data": "task.locked"  , targets: 14 },
            { "data": "task.comment" , targets: 15 },
        {% if project and projId > 0 %}
            { "data": "newPledge"    , targets: 16 , "class" : "left-border", }, // borders for this one too:
            { "data": "editTask"     , targets: 17 },
            { "data": "task.description" , targets: 18, visible: false},
        {%  endif %}
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
            {% if not initialVersion %}
            if ( (data['task']) &&
                ( ( data['task']['neededWork'] != '-' ) && ( data['task']['neededWork'] != 0 ) )
                ) {
                var col = getColour(data['pctDone']);
                $('td', row).eq(5).addClass(col);
                $('td', row).eq(6).addClass(col);

                col = getColour(data['pctPld']);
                $('td', row).eq(8).addClass(col);
                $('td', row).eq(9).addClass(col);

                col = getColour(data['pctAcc']);
                $('td', row).eq(10).addClass(col);
                $('td', row).eq(11).addClass(col);
            }
            if (data['editTask'].trim != '') {
                $(row).addClass('canManage');
            }
            if ( data['task']['taskType'].indexOf('InstResp') > -1 ) {
                $('td', row).each( function() {
                    $( this ).addClass('instRespTask')
                });
            }
            {% endif %}
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },

    });

    icmsEprButtons( { buttonDivName : 'tableButtons' } );
    setupColSearch(tableT);
    addEvtListeners( 'projectTaskTable', tableT, {{ year }} );

    var tableA = $("#projectActTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": '<"top"lifr>t<"bottom"flp>',

        "footerCallback": function (row, data, start, end, display) {
            return footerSummary( row, data, start, end, display, this.api(), "projectActTable", [3,4,6,8,10,12], [5,7,9,11], 2 )
        },
        "ajax": {
            {%  if project %}
                url : '{{ url_for("api.projectActInfo", code=project.code) }}',
            {% else %}
                url : '{{ url_for("api.projectActInfo", code="all") }}',
            {% endif %}
            type:"POST",
            data: { "year" : {{ year }}, "initial" : "{{ initialVersion }}" },
            "dataSrc": "projectActs",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [

            // add a first column with checkboxes
            {
               "data": "checkbox"  , targets:0,
               orderable: false,
               className: 'select-checkbox',
            },
            { "data": "pName"      , targets:1,
               className : "project-description",
               "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
            },
            { "data": "aName"      , targets:2,
               className : "activity-description",
               "render": function ( data, type, row ) { return data+'<div id="activity-desc"></div>'; }
            },
            { "data": "neededWork" , targets:3,
                className : "left-border",
                "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "sumDone"    , targets:4,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctDone"    , targets:5,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2)+'<div id="task-pledges"></div>';}
            },
            { "data": "sumPledged" , targets:6,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2)+'<div id="task-pledges"></div>';}
            },
            { "data": "pctPld"     , targets:7,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "sumAcc" , targets: 8,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctAcc"  , targets: 9,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "wtpNew"  , targets: 10,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctNew"  , targets: 11,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "wtpRej"  , targets: 12,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctRej"  , targets: 13,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
            {% if not initialVersion %}
            if ( ( data['neededWork'] != '-' ) && ( data['neededWork'] != 0 )
                ) {

                var col = getColour(data['pctDone']);
                $('td', row).eq(3).addClass(col);
                $('td', row).eq(4).addClass(col);

                col = getColour(data['pctPld']);
                $('td', row).eq(6).addClass(col);
                $('td', row).eq(7).addClass(col);

                col = getColour(data['pctAcc']);
                $('td', row).eq(8).addClass(col);
                $('td', row).eq(9).addClass(col);

                col = getColourReverse(data['pctNew']);
                $('td', row).eq(10).addClass(col);
                $('td', row).eq(11).addClass(col);

                col = getColourReverse(data['pctRej']);
                $('td', row).eq(12).addClass(col);
                $('td', row).eq(13).addClass(col);
            }
            {% endif %}
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },

    });

    setupColSearch(tableA);
    // as the activity and project pages do not have tasks, this won't work (for now)
    // addEvtListeners( 'projectActTable', tableA, {{ year }} );


    var tableP = $("#projectSummaryTable").DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
        // see: https://datatables.net/examples/basic_init/dom.html
        "dom": '<"top"lBifr>t<"bottom"flp>',

        "footerCallback": function (row, data, start, end, display) {
            return footerSummary( row, data, start, end, display, this.api(), "projectSummaryTable", [2,3,5,7,9,11], [4,6,8,10], 1)
        },
        "ajax": {
            url : '{{ url_for("api.projectSummary") }}',
            type:"POST",
            data: { "year" : {{ year }}, "initial" : "{{ initialVersion }}" },
            "dataSrc": "projectSummary",
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [

            // add a first column with checkboxes
            {
               "data": "checkbox"  , targets:0,
               orderable: false,
               className: 'select-checkbox',
            },
            { "data": "pName"      , targets:1,
               className : "project-description",
               "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
            },
            { "data": "neededWork" , targets:2,
                className : "left-border",
                "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "sumDone"    , targets:3,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctDone"    , targets:4,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2)+'<div id="task-pledges"></div>';}
            },
            { "data": "sumPledged" , targets:5,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2)+'<div id="task-pledges"></div>';}
            },
            { "data": "pctPld"     , targets:6,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "sumAcc" , targets: 7,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctAcc"  , targets: 8,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "wtpNew"  , targets: 9,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctNew"  , targets: 10,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "wtpRej"  , targets: 11,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
            { "data": "pctRej"  , targets: 12,
                   "class" : "task-pledgeInfo",
                  "render": function ( data, type, row ) { return ' '+data.toFixed(2);}
            },
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
            {% if not initialVersion %}
                // console.log('proj '+ data['neededWork'])
            if ( ( data['neededWork'] != '-' ) && ( data['neededWork'] != 0 )
                ) {

                var col = getColour(data['pctDone']);
                $('td', row).eq(2).addClass(col);
                $('td', row).eq(3).addClass(col);

                col = getColour(data['pctPld']);
                $('td', row).eq(5).addClass(col);
                $('td', row).eq(6).addClass(col);

                col = getColour(data['pctAcc']);
                $('td', row).eq(7).addClass(col);
                $('td', row).eq(8).addClass(col);

                col = getColourReverse(data['pctNew']);
                $('td', row).eq(9).addClass(col);
                $('td', row).eq(10).addClass(col);

                col = getColourReverse(data['pctRej']);
                $('td', row).eq(11).addClass(col);
                $('td', row).eq(12).addClass(col);
            }
            {% endif %}
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    setupColSearch(tableP);
    // as the activity and project pages do not have tasks, this won't work (for now)
    // addEvtListeners( 'projectActTable', tableP );

} );

</script>

{% endblock %}
