{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
{{ super() }}

<!-- DataTables CSS -->
{#<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">#}

{% endblock %}

{% block title %}iCMS - EPR Institute Information for {{ institute.code }} in {{ year }} {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR Institute Information for {{ institute.code }} in {{ year }} </h1>
</div>

    <h3>
        <a href="http://cms.cern.ch/iCMS/jsp/secr/stats/customizeInstSearch.jsp?InstIden={{ institute.code }}&OutFORM=FULL"> iCMS DB search for {{ institute.code }} </a> ---
        <a href="http://cms.cern.ch/iCMS/jsp/secr/stats/cmsMembers.jsp?LAB={{ institute.code }}&display=list"> iCMS DB members for {{ institute.code }} </a>
    </h3>


    <div id="details" name="details">
        <button id="detail-button" name="detail-button" >Show details</button>
    </div>
    <p>

    </p>

{% if isEngOff %}
    <div class="brick huge padded summary-info">
        <table class="data-table" id="history-table0" name="history-table0">
            <thead>
                <tr>
                    <th> Year </th>
                    <th> EPR Due </th>
                    <th> EPR Done </th>
                    <th> EPR Done + Shifts </th>
                    <th> Fraction of Work Done </th>
                    <th> Fraction of Work Done + Shifts </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
{% endif %}

    <div class="brick huge padded summary-info">
        <span> Summary of the institute (ALL members, in EPR months (*)) </span>
        <ul class="overview" id="overview" name="overview" >
            <li>
                <span> Work Due :</span>
                <b> {{ '%.2f' % ( (summary['sumAthDue']+summary['sumEprDue']),) }}  </b>
                    <!-- (AuthorDue + ApplicantDue) -->
            </li>
            <li>
                <span> Work done : </span>
                <b> {{ '%.2f' % (summary['EPRworkDone'], ) }} </b>
                {% if year == 2016 %}
                &nbsp; &nbsp; &nbsp; &nbsp; (Weights used: Core=1.0; NonCore=0.25)
                {% endif %}
            </li>
            <li>
                <span> Shift done : </span>
                <b> {{ '%.2f' % (summary['ShiftsDone'], ) }} </b>
            </li>
            <li>
                <span> Work + Shifts done : </span>
                <b> {{ '%.2f' % (summary['EPRaccounted'],) }} </b>
            </li>
            <li>
                <span> Ratio done/Expected : </span>
                   {% if (summary['sumAthDue']+summary['sumEprDue']) > 0 %}
                        <b>
                            {{ '%.2f' % (summary['EPRaccounted']/(summary['sumAthDue']+summary['sumEprDue']),) }}
                        </b>
                        (EPR work plus Shifts done)/(AuthorDue + ApplicantDue)
                   {% else %}
                        N/A
                   {% endif %}
            </li>
        </ul>
        <p>

        </p>
<!--        
        <table class="summary-table-details" class="detail-item" id="summary-table0" name="summary-table0" hidden>
            <tr> 
                <td class="summary-label"> Authors <div class="smaller">(not counting CMSEMERITUS)</div></td>
                <td class="summary-data"> {{ '%3.2f' % (summary['actAuthors'],) }} </td>
                <td class="summary-label"> Applicants <div class="smaller">(new members)</div></td>
                <td class="summary-data"> {{  '%3.2f' % (summary['sumEprDue'],) }} </td>
                <td class="summary-label"> Total Work needed <div class="smaller">(Author + Applicant)</div></td>
                <td class="summary-data"> {{  '%3.2f' % (summary['sumEprDue']+summary['sumAthDue'],) }} </td>
                <td class="summary-label"> Total CSP <div class="smaller">(Central Shift Credit points)</div></td>
                <td class="summary-data"> {{  '%3.2f' % (navInfo.cspPerAuthor*summary['actAuthors'],) }} </td>
            </tr>
        </table>
-->
        <table class="summary-table-details" class="detail-item" id="summary-table0" name="summary-table0" hidden>
            <tr> <!-- ============================================================================== -->
                <td class="summary-label"> # of Authors <span class="smaller">(not counting CMSEMERITUS)</span></td>
                <td class="summary-data"> {{ '%3.2f' % (summary['actAuthors'],) }} </td>
                <td class="summary-label"> Work Due by Authors </td>
                <td class="summary-data"> {{  '%3.2f' % (summary['authDue'],) }} </td>
                <td class="summary-label" rowspan="2"> Total CSP <span class="smaller">(Central Shift Credit points)</span></td>
                <td class="summary-data" rowspan="2"> {{  '%3.2f' % (navInfo.cspPerAuthor*summary['actAuthors'],) }} </td>
            </tr>
            <tr> <!-- ============================================================================== -->
                <td class="summary-label"> # of Applicants <span class="smaller">(new members)</span></td>
                <td class="summary-data"> {{ '%3.2f' % (summary['Applicants'],) }} </td>
                <td class="summary-label"> Work Due by Applicants </td>
                <td class="summary-data"> {{  '%3.2f' % (summary['appDue'],) }} </td>
            </tr>
<!-- 
        </table>
        <p></p>
        <table class="summary-table-details" id="summary-table-det" name="summary-table-det" hidden> 
-->
            <tr> <!-- ============================================================================== -->
            {% for k in ['ShiftsDone', 'ShiftsPld'] %}
                <td class="summary-label"> {{ k }}: </td>
                <td class="summary-data">
                    {% if summary[k] %}
                    {{ "%8.2f" % summary[k] }}
                    {% else %}
                    ( 0.00 )
                    {% endif %}
                </td>
            {% endfor %}
            <td class="summary-label"> </td> <!-- Shifts Done+Pledged: <br/> <div class="smaller"> (fraction of shifts expected)</div> </td> -->
            <td class="summary-data"> 
                <!-- 
                {% if summary['ShiftsDone']+summary['ShiftsPld'] %}
                {{ "%8.2f" % (summary['ShiftsDone']+summary['ShiftsPld']) }} <br />
                ({% if (navInfo.cspPerAuthor*summary['actAuthors']) > 0 %}
                    {{ '%3.2f' % ( (summary['ShiftsDone']+summary['ShiftsPld']) / (navInfo.cspPerAuthor*summary['actAuthors']) ) }}
                {% else %} (0.0) {%endif%})
                {%endif%} 
                -->
            </td>
            </tr>

            <tr> 
            {% for item in [('AthPld', 'pledged'), ('AthAcc', 'accepted'), ('AthDone', 'done')] %}
                    <td class="summary-label"> 
                        <b> Author </b> <br/>
                        <div class="smaller"> EPR <b>{{ item[1]}}</b> </div> 
                        <div class="smaller"> fraction {{ item[1] }} [%]</div> 
                        {% if guestPledges%} <div class="smaller"> Guest work {{ item[1]}} </div> {% endif %} </td>
                    <td class="summary-data">
                        <br />
                        {% if summary[item[0]] %}
                        {{ "%8.2f" % summary[item[0]] }} <br />
                        {% if summary['sumAthDue']+summary['sumEprDue'] > 0 %}
                            {{ '%4.0f' % (summary[item[0]]/(summary['sumAthDue']+summary['sumEprDue'])*toPct,) }}
                        {% else %} 0.0 {%endif%}
                        {%endif%}
                         {% if guestPledges %}<br/> {{ guestPledges[item[0]] }} {% endif %}
                    </td>
                {% endfor %}
            </tr>
           <tr> 
                {% for item in [ ('AppPld', 'pledged'), ('AppAcc', 'accepted'), ('AppDone', 'done') ] %}
                    <td class="summary-label"> 
                        <b> Applicant </b> <br/> <div class="smaller"> EPR <b>{{ item[1] }} </b> </div> 
                        <div class="smaller"> fraction {{ item[1] }}  [%]</div> 
                        {% if guestPledges%} <div class="smaller"> Guest work {{ item[1] }} </div> {% endif %} </td>
                    <td class="summary-data">
                        <br />
                        {% if summary[item[0]] %}
                        {{ "%8.2f" % summary[item[0]] }} <br />
                        {% if summary['sumAthDue']+summary['sumEprDue'] > 0 %}
                            {{ '%4.0f' % (summary[item[0]]/(summary['sumAthDue']+summary['sumEprDue'])*toPct,) }}
                        {% else %} 0.0 {%endif%}
                        {%endif%}
                         {% if guestPledges %}<br/> {{ guestPledges[item[0]] }} {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <!-- ============================================================================== -->
            <!-- 
            <tr> 
                {% for k in ['Pledged', 'Accepted', 'Done'] %}
                    <td class="summary-label"> 
                        {{ k }} <div class="smaller"> (EPR months, non-weighted)</div>
                        <div class="smaller"> (fraction of work expected)</div> 
                        {% if guestPledges%} <div class="smaller"> Guest work {{ k }} </div> {% endif %} </td>
                    <td class="summary-data">
                        {% if summary[k] %}
                        {{ "%8.2f" % summary[k] }} <br />
                        ( {% if summary['sumAthDue']+summary['sumEprDue'] > 0 %}
                            {{ '%3.2f' % (summary[k]/(summary['sumAthDue']+summary['sumEprDue']),) }}
                        {% else %} (0.0) {%endif%})
                        {%endif%}
                         {% if guestPledges %}<br/> {{ guestPledges[k] }} {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <!-- ============================================================================== -- >
            <tr> 
                <td class="summary-label"> WorkAccepted+ShiftsDone: <br/> <div class="smaller"> (fraction of work expected) </div></td>
                <td class="summary-data"> {{ '%.2f' % (summary['Accepted'] + summary['ShiftsDone']) }} <br />
                    {% if summary['sumAthDue']+summary['sumEprDue'] > 0 %}
                    ({{ '%.2f' % ( (summary['Accepted'] + summary['ShiftsDone'])/(summary['sumAthDue']+summary['sumEprDue']),) }})
                    {% else %}
                    ( 0.00 )
                    {% endif %}
                </td>
                <td class="summary-label"> 
                    WorkDone 
                    <!-- <div class="smaller"> (non-weighted months)+ShiftsDone</div> -- >
                    <div class="smaller"> (fraction of work expected) </div>
                </td>
                <td class="summary-data"> {{ '%.2f' % (summary['Done'] + summary['ShiftsDone']) }} <br />
                    {% if summary['sumAthDue']+summary['sumEprDue'] > 0 %}
                    ({{ '%.2f' % ( (summary['Done'] + summary['ShiftsDone'])/(summary['sumAthDue']+summary['sumEprDue']),) }})
                    {% else %}
                    ( 0.00 )
                    {% endif %}

                </td>
                <td class="summary-label epr-accounted"> EPR accounted <div class="smaller"> (fraction of work expected)</div></td>
                <td class="summary-data epr-accounted"> {{ '%.2f' % (summary['EPRaccounted'],) }} <br />
                    {% if summary['sumAthDue']+summary['sumEprDue'] > 0 %}
                    ({{ '%.2f' % ( (summary['EPRaccounted'])/(summary['sumAthDue']+summary['sumEprDue'])) }})
                    {% else %}
                    ( 0.00 )
                    {% endif %}
                </td>
            </tr>
            -->
        </table>
        <p>
            <b>(*)</b> Central Shift Points (CSP) are converted to EPR months by: EPRmonths = CSP * {{ "%.3f" % navInfo.cspToEpr }}. EPR done includes shifts.<br />
            <div class="lawngreen"> green: more than 100% of expected work done </div>
            <div class="orange"> orange: 90%-100% of expected work done </div>
            <div class="orangered"> red:  < 90% of expected work done </div>
            <div class="coopinst"> Cooperating institute, no due, but can do EPR </div>
            <div class="associnst"> Associated institute, no due, but can do EPR </div>
        </p>
    </div> <!-- summary-info -->

    <p>
        <hr />
    </p>

<button id="showHideHelp" type='button'>Hide Help</button>
<div id="info-help" class="brick padded">
    <p>
        Clicking on the headers of the columns sorts them, a second click on the header reverses the sorting order. The "Column visibility" button allows you to hide/show individual columns in the table.
    </p>
    <p>
        The "EPR WorkDone" column is the sum of the EPR work done NOT taking into account the Core/NonCore weights (this was requested by some funding agencies).
    </p>
    <p>
    </p>
        The "Shifts Done (CSP)" column is the sum of the shifts the person has already done, normalised to EPR months:<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; <b>1 shift credit * (1 EPR week / 5 shift credits) * (12 EPR months / 52 EPR weeks) = 0.0462 EPR months </b><br/>
    (see also: https://twiki.cern.ch/twiki/bin/viewauth/CMS/CentralShifts2016#Central_credit_accounting and https://twiki.cern.ch/twiki/bin/view/CMS/CentralShifts2012). Fron 2017 onwards, the "added value credits" for each shift (as set) are taken into account as well.
    <p>
        The "EPR accounted" column is the sum of the EPR work done for shifts (re-calculated to equivalent EPR months) plus
        the "work done" for the tasks, multiplied by the corresponding weight for the task. CORE tasks have a weight of 1,
        while "non-CORE" tasks (only in 2016) have a weight of 0.25.
    </p>
    <p>
        At the bottom of the table you find fields to search in individual columns. Independent searches will be combined with "AND".
    </p>
    <p>
        You can select individual rows by clicking on the checkbox in the first column. The selected rows can then be exported in various ways by clicking on the "Export selected..." button, and selecting the desired format in the pop-up menu from there.
    </p>
</div>


<div name="tableButtons" id="tableButtons"></div>

 <div class="brick padded">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"> <a href="#tab-table1" data-toggle="tab">Pledge summary</a> </li>
        <li>                <a href="#tab-table2" data-toggle="tab">Individual Pledges</a> </li>
        <li>                <a href="#tab-table3" data-toggle="tab">InstResp Task Pledges</a> </li>
{% if guestPledges %}
        <li>                <a href="#tab-table4" data-toggle="tab">Guest Pledges</a> </li>
{% endif %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-table1">
            <table id="instituteTable" class="dataTable" cellspacing="0" width="90%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Author/<br>Applicant</th>
                        <th>Main Project</th>
                        <th>Projects Pledged</th>
                        <th>Due</th>
                        <th>Pledged</th>
                        <th>Accepted</th>
                        <th>EPR WorkDone</th>
                        <th>ShiftsDone (CSP)</th>
                        <th>ShiftsPledged (CSP)</th>
                        <th>EPR Accounted</th>
                        <th>Accounted/<br/>Due</th>
                        <th>Suspended</th>
                        <th>status</th>
                        <th>newPledge</th>
                        <th>peopleInfo</th>
                        <th>username</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Author/<br>Applicant</th>
                        <th>Main Project</th>
                        <th>Projects Pledged</th>
                        <th>Due</th>
                        <th>Pledged</th>
                        <th>Accepted</th>
                        <th>EPR WorkDone</th>
                        <th>ShiftsDone (CSP)</th>
                        <th>ShiftsPledged (CSP)</th>
                        <th>EPR Accounted</th>
                        <th>Accounted/<br/>Due</th>
                        <th>Suspended</th>
                        <th>status</th>
                        <th>newPledge</th>
                        <th>peopleInfo</th>
                        <th>username</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Category</td>
                        <td>Author/<br>Applicant</td>
                        <td>Main Project</td>
                        <td>Projects Pledged</td>
                        <td>Due</td>
                        <td>Pledged</td>
                        <td>Accepted</td>
                        <td>EPR WorkDone</td>
                        <td>ShiftsDone (CSP)</td>
                        <td>ShiftsPledged (CSP)</td>
                        <td>EPR Accounted</td>
                        <td>Accounted/<br/>Due</td>
                        <td>Suspended</td>
                        <td>status</td>
                        <td>newPledge</td>
                        <td>peopleInfo</td>
                        <td>username</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="tab-pane" id="tab-table2">
            <table id="institutePledges" class="dataTable" cellspacing="0" width="90%">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="6">Task</th>
                        <th colspan="6">Pledge</th>
                    </tr>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th hidden>Edit Task</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Status</th>                     <!-- col 17 -->
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th hidden>Edit Task</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Status</th>                     <!-- col 17 -->
                    </tr>
                    <tr>
                        <td></td>   <!-- col 1 for checkboxes -->
                        <td>Project/LV1</td>
                        <td>LV2</td>
                        <td>LV3</td>
                        <td class="left-border">Task Name</td> <!-- col 5 -->
                        <td>Needed Work</td>
                        <td>Fraction Done</td>
                        <td>% of work at CERN</td>
                        <td>Type of task</td>
                        <td>Comment</td>
                        <td hidden>Edit Task</td>
                        <td class="left-border">User</td>    <!-- col 12 -->
                        <td>Institute for Pledge</td>
                        <td>Work Pledged</td>
                        <td>Work Accepted</td>
                        <td>Work Done</td>
                        <td>Status</td>                     <!-- col 17 -->
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="tab-pane" id="tab-table3">
            <table id="instRespPledges" class="dataTable" cellspacing="0" width="90%">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="6">Task</th>
                        <th colspan="6">Pledge</th>
                    </tr>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>                     <!-- col 10 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Status</th>                     <!-- col 15 -->
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>                     <!-- col 10 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Status</th>                     <!-- col 15 -->
                    </tr>
                    <tr>
                        <td></td>   <!-- col 1 for checkboxes -->
                        <td>Project/LV1</td>
                        <td>LV2</td>
                        <td>LV3</td>
                        <td class="left-border">Task Name</td> <!-- col 5 -->
                        <td>Needed Work</td>
                        <td>Fraction Done</td>
                        <td>% of work at CERN</td>
                        <td>Type of task</td>
                        <td>Comment</td>                     <!-- col 10 -->
                        <td>Institute for Pledge</td>
                        <td>Work Pledged</td>
                        <td>Work Accepted</td>
                        <td>Work Done</td>
                        <td>Status</td>                     <!-- col 15 -->
                    </tr>
                </tfoot>
            </table>
        </div> <!-- tab-pane tab-table3 -- InstResp -->
{% if guestPledges %}
        <div class="tab-pane" id="tab-table4">
            <table id="instituteTableGuest" class="dataTable" cellspacing="0" width="90%">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="6">Task</th>
                        <th colspan="6">Pledge</th>
                    </tr>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Status</th>                     <!-- col 17 -->
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th></th>   <!-- col 1 for checkboxes -->
                        <th>Project/LV1</th>
                        <th>LV2</th>
                        <th>LV3</th>
                        <th class="left-border">Task Name</th> <!-- col 5 -->
                        <th>Needed Work</th>
                        <th>Fraction Done</th>
                        <th>% of work at CERN</th>
                        <th>Type of task</th>
                        <th>Comment</th>
                        <th class="left-border">User</th>    <!-- col 12 -->
                        <th>Institute for Pledge</th>
                        <th>Work Pledged</th>
                        <th>Work Accepted</th>
                        <th>Work Done</th>
                        <th>Status</th>                     <!-- col 17 -->
                    </tr>
                    <tr>
                        <td></td>   <!-- col 1 for checkboxes -->
                        <td>Project/LV1</td>
                        <td>LV2</td>
                        <td>LV3</td>
                        <td class="left-border">Task Name</td> <!-- col 4 -->
                        <td>Needed Work</td>
                        <td>Fraction Done</td>
                        <td>% of work at CERN</td>
                        <td>Type of task</td>
                        <td>Comment</td>
                        <td class="left-border">User</td>    <!-- col 11 -->
                        <td>Institute for Pledge</td>
                        <td>Work Pledged</td>
                        <td>Work Accepted</td>
                        <td>Work Done</td>
                        <td>Status</td>                     <!-- col 16 -->
                    </tr>
                </tfoot>
            </table>
        </div>  <!-- tab-pane tab-table4 -- Guest pledges -->
        {% endif %}
    </div>
</div>


{% endblock %}

<p>
    {{ groups }}
</p>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">
$(document).ready(function() {

    // make sure the buttons get added back to the active table of the tabs:
    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {

        var actTable = tableInst;
        if (e.currentTarget.hash === '#tab-table2') {
            actTable = tableP;
        } else if (e.currentTarget.hash === '#tab-table3') {
            actTable = tableIRP;
        } else if (e.currentTarget.hash === '#tab-table4') {
            actTable = tableG;
        }

        $( '#tableButtons').empty();
        // add our buttons to the table and prepend them to the table:
        icmsEprButtons( { table: actTable, buttonDivName : 'tableButtons' } );

        $.fn.dataTable.tables( {visible: true, api: true} ).ajax.reload();
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();

    } );

    setupHelpButton();

    {% if current_user.is_administrator() %}
    var showDetails = 'showDetails';
    var userIsAdmin = true;
    {% else %}
    var showDetails = 'hideDetails';
    var userIsAdmin = false;
    {% endif %}

    console.log('user is admin: ' + userIsAdmin);

    if (sessionStorage.getItem('showDetails') ) {
        showDetails = sessionStorage.getItem('showDetails');
    };
    // the list of column-numbers which should be shown/hidden if details are to be shown/hidden
    var detailColumns = [ 0, 3, 4, 5, 12, 13, 15, 16 ];
    console.log('fromStorage> details is: ' + showDetails);
    $( "#detail-button" ).button();
    $( "#detail-button" ).click(function(){
        if (showDetails == 'showDetails') {  // toggle this as well ...
            showDetails = 'hideDetails';
            $(this).html("Show details");
            $(".summary-table-details").hide();
            tableInst.columns( detailColumns ).visible( false, true );
        } else {
            showDetails = 'showDetails';
            $(this).html("Hide details");
            $(".summary-table-details").show();
            tableInst.columns( detailColumns ).visible( true, true );
        }
        sessionStorage.setItem( 'showDetails', showDetails );
        console.log('stored> details is: ' + showDetails);
        tableInst.draw();
    });

    console.log('flow> details is: ' + showDetails);

    var ratio =  {% if (summary['sumAthDue']+summary['sumEprDue']) > 0 %}
                    {{  summary['EPRaccounted']/(summary['sumAthDue']+summary['sumEprDue']) }}
                 {% else %}
                    0.
                 {% endif %}
    // make sure the threshold list is the same as in showInstitute.html:
    {%  if institute and 'Cooperating' in institute.cmsStatus %}
        var col = 'coordinst';
    {%  elif  institute and 'Associated' in institute.cmsStatus %}
        var col = 'associnst';
    {% else %}
    var col = getColour( ratio, thrList = [1.00, 0.89, -0.1] );
    {% endif %}

    $("#overview").addClass(col);
    $('.epr-accounted').addClass(col);

    var start; // keep log of time for ajax calls ...
    var totals_page;

    // ========================================================================

{% if isEngOff %}
    var tableInstHist = $('#history-table0').DataTable({
        "deferRender": true,
        {#destroy: true,#}
        stateSave: true,
        "dom": "", // icmsEprDOM(),

        "ajax": {
            "url": "{{ url_for("api.instHistInfo") }}",
            method: "POST",
            data: {
                "year": {{ year }},
                "iCode": "{{ institute.code }}"
            },
            "dataSrc": "data",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                // ("requesting info for " + "{{ institute.code }}" + " in " + {{ year }} );
           },
           complete: function () {
                // console.log("Got data for instHist ... ")
                // alert("Got histInfo");
           },
        },
        "columnDefs": [
            {
                "render": function ( data, type, row ) {
                    if (data !== undefined) {
                        return ' ' + data.toFixed(2);
                    } else {
                        return 'N/A';
                    }
                },
                "targets": [1,2,3,4,5]
            },
            { "data": "year",      targets: 0 },
            { "data": "expected",  targets: 1 },
            { "data": "done",      targets: 2 },
            { "data": "accounted", targets: 3 },
            { "data": "doneFract", targets: 4 },
            { "data": "acctFract", targets: 5 },
            // add colour to the taks done related fields
        ],
        "createdRow": function ( row, data, index ) {
                if ( data["acctFract"] >= 0 ) {
                    // make sure the threshold list is the same as in showInstitute.html:
                    var col = getColour(data["acctFract"], thrList = [1.00, 0.89, -0.1]);
                    $('td', row).addClass(col);
                }
        },
    });
{% endif %}

    // ========================================================================

    // column-wise search
    $('#instituteTable tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    var tableInst = $('#instituteTable').DataTable({
        destroy: true,
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],

        "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                if (data.length > 0) {

                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                    };

                    // console.log( $( "#projectTable tfoot" ) );
                    // console.log( $( "#projectTable tfoot" ).children("td") );
                    var i = -1;
                    var numCols = [6,7,8,9,10,11,12,13];
                    var shiftsPledgedCol = 11;
                    var shiftsDoneCol = 10;
                    var colIndex = { 6:6, 7:7, 8:8, 9:9, 10:10, 11:11, 12:12, 13:13 };
                    if (showDetails != 'showDetails') {
                        numCols = [2,3,4,5,6,7];
                        shiftsPledgedCol = 7;
                        shiftsDoneCol = 6;
                        colIndex = { 2:6, 3:7, 4:8, 5:9, 6:10, 7:11 };
                    }

                    $( "#instituteTable tfoot tr" ).children("td").each( function() {
                        i++;
                        if (i == numCols[0] - 1) {
                            $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                        } else if ( numCols.indexOf(i) != -1 ) {
                            // totals over all pages
                            totals = api.column( colIndex[i] ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            },0 );

                            // totals_page over this page
                            totals_page = api.column( colIndex[i], { page: 'current'} ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                            // for shifts pledged, add up the done shifts as well:
                            if ( i == shiftsPledgedCol ){
                                totals = totals + api.column( colIndex[shiftsDoneCol] ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                },0 );
                                totals_page = totals_page + api.column( colIndex[shiftsDoneCol], { page: 'current'} ).data().reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                            }

                            totals_page = parseFloat(totals_page);
                            totals      = parseFloat(totals);
                            // Update footer
                            $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                        } else {
                            $(this).text('');
                        }
                    });
                }
        },
        "ajax": {
            "url": "{{ url_for("api.instituteInfo", code=institute.code) }}",
            method : "POST",
            data: { "year" : {{ year }} },
            beforeSend: function(xhr, settings) {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading data took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            {
               orderable: false,
               className: 'select-checkbox',
               "data" : "check",
               targets : 0,
            },
            // The `data` parameter refers to the data for the cell (defined by the
            // `data` option, which defaults to the column being worked with, in
            // this case `data: 0`.
            {
                "render": function ( data, type, row ) {
                    return ' '+data.toFixed(2);
                },
                "targets": [6,7,8,9,10,12,13]
            },
            { "data": "name"    , targets: 1,
                      "render": function ( data, type, row ) {
                                    var uName = row.username;
                                    var url = '{{ url_for("main.showUser") }}';
                                    var result = '<a href="'+url+'/'+uName+'"> '+data+' </a>';;
                                    return result;
                                },
            },
            { "data": "category", targets: 2 },
            { "data": "authOrAppl", targets: 3 },
            { "data": "mainProj", targets: 4 },
            { "data": "project" , targets: 5 },
            { "data": "eprDue"  , targets: 6 },
            { "data": "pledged" , targets: 7 },
            { "data": "accepted", targets: 8 },
            { "data": "done"    , targets: 9 },
            { "data": "shiftsDone", targets: 10 },
            { "data": "shiftsPld" , targets: 11,
                      "render": function ( data, type, row ) {
                                            return ' '+(data + row.shiftsPld).toFixed(2);
                                         }
            },
            { "data": "EPRaccounted"  , targets: 12 },
            { "data": "ratAccntDue",targets: 13, },
            { "data": "suspended",targets: 14,
                      "render": function ( data, type, row ) {
                                            if (data) { return "Yes"; }
                                            return "No";
                                         }
            },
            { "data": "status"  , targets: 15 },
            { "data": "cmsId", targets: 16,
                      "render": function ( data, type, row ) {
                                    if (data) {
                                        var link = '{{ url_for("main.newPledgeForUser", cmsId="") }}' + data;
                                        return '<a href="'+link+'">'+"createNewPledge"+'</a>';
                                    }
                                }
            },
            { "data": "cmsId", targets: 17,
                      "render": function ( data, type, row ) {
                                    var result = '';
                                    if (data) {
                                        var link = 'http://cms.cern.ch/iCMS/jsp/secr/stats/peopleDetailInfo1_1.jsp?CMSid='+data;
                                        result = result + '<a href="'+link+'" target="_blank">'+data+'</a>';
                                    if (userIsAdmin) {
                                        var link = 'https://icms.cern.ch/tools/users/profile/' + data;
                                        result = result + '<br/> <a href="'+link+'" target="_blank"> profile </a>';
                                    }
                                    }
                                    return result;
                                }
            },
            { "data": "username", "visible": false, targets: -1},
        ],
        "order": [[1, 'asc']],
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },

    });

    // ensure that the columns with the "details" are only shown in details mode:
    if (showDetails == 'showDetails') {
        $(".summary-table-details").show();
        $("detail-button").html("Hide details");
        tableInst.columns( detailColumns ).visible( true, true );
    } else {
        $(".summary-table-details").hide();
        $("detail-button").html("Show details");
        tableInst.columns( detailColumns ).visible( false, true );
    }

    tableInst.draw();

    setupColSearch(tableInst);

    // ========================================================================

    // institute pledges
    // column-wise search
    $('#institutePledges tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    var start;
    var tableP = $('#institutePledges').DataTable({
        destroy: true,
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "dom": icmsEprDOM(),
        "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                if (data.length > 0) {
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                    };

                    var i = -1;
                    var numCols = [4,12,13,14];
                    $( "#institutePledges tfoot tr" ).children("td").each( function() {
                        i++;
                        if ( numCols.indexOf(i) != -1 ) {
                            // totals over all pages
                            totals = api.column( i ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            },0 );

                            // totals_page over this page
                            totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                            totals_page = parseFloat(totals_page);
                            totals      = parseFloat(totals);
                            // Update footer
                            $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                        } else if (i==3) {
                            $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                        } else {
                            $(this).text('');
                        }
                    });
                }
            },
        "ajax": {
            "url": "{{ url_for("api.pledgesForInst") }}",
            data: { "instCode": "{{ institute.code }}", "year" : {{ year }} },
            method : "POST",
            "dataSrc": "allProjects",
            beforeSend: function(xhr, settings) {
                var d = new Date();
                startP = d.getTime();
                $("#loading-time").html('loading info ... ');
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
                // console.log( 'instUserPledges> beforeAjaxSend ');
            },
            complete: function() {
                var stopP = new Date().getTime();
                $("#loading-time").html('Loading data took '+ (stopP-startP).toFixed(0) +' msec.');
                // console.log( 'instUserPledges> ajaxSendComplete ');
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            { targets : 0,
              orderable: false,
              className: 'select-checkbox'
            },
            { targets:1,
              className : "project-description",
              "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
            },
            { targets:2,
              className : "activity-description",
              "render": function ( data, type, row ) { return data+'<div id="activity-desc"></div>'; }
            },
            { targets:3,
              "render": function ( data, type, row ) { return data; }
            },
            {
              targets : 4,
              className : 'task-description left-border',
              "render": function ( data, type, row ) { return data+'<div id="task-desc"></div>'; }
            },
            {   // hide the edit-task item
                className : 'hidden',
                targets : 10
            },
            {   // borders for this one (user) too:
                className : 'left-border',
                targets : 11
            },
            { // format the numbers to 2 decimals
              targets: [13,14,15], "render": function ( data, type, row ) { 
                  if (data) { 
                    // console.log('==> data:', data);
                    // console.log('==> row :', row);
                      return ' '+data.toFixed(2); 
                    } else {
                        return ' '+data; 
                    }
                }
            },
        ],
        // // add colour to the taks done related fields
        // "createdRow": function ( row, data, index ) {
        //     if (data[4] != '-') {
        //         var col = getColour(data[5]);
        //         $('td', row).eq(4).addClass(col);
        //         $('td', row).eq(5).addClass(col);
        //     }
        //     if (data[9] === null) {
        //         console.log("showInstitute 1 : ", data);
        //         console.log("showInstitute 1 row : ", row);
        //     }
        //     if (data[10] !== null && data[10].trim != '') {
        //         $(row).addClass('canManage');
        //     }
        // },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },

    });

    tableP.draw();
    setupColSearch(tableP);

    // ========================================================================

    // instResp pledges

    // column-wise search
    $('#instRespPledges tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    var tableIRP = $('#instRespPledges').DataTable({
        destroy: true,
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "dom": icmsEprDOM(),
        "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                if (data.length > 0) {
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                    };
                    var i = -1;
                    var numCols = [4,10,11,12];
                    $( "#instRespPledges tfoot tr" ).children("td").each( function() {
                        i++;
                        if ( numCols.indexOf(i) != -1 ) {
                            // totals over all pages
                            totals = api.column( i ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            },0 );

                            // totals_page over this page
                            totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                            totals_page = parseFloat(totals_page);
                            totals      = parseFloat(totals);
                            // Update footer
                            $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                        } else if (i==3) {
                            $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                        } else {
                            $(this).text('');
                        }
                    });
                }
        },
        "ajax": {
            url: "{{ url_for("api.instRespPledgesForInst") }}",
            data: {"instCode": "{{ institute.code }}", "year": {{ year }}},
            method : "POST",
            dataSrc: "allProjects",
            beforeSend: function(xhr, settings) {
                var d = new Date();
                startP = d.getTime();
                $("#loading-time").html('loading info ... ');
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
                // console.log( 'instRespPledges> beforeAjaxSend ');
            },
            complete: function( json ) {
                var stopP = new Date().getTime();
                $("#loading-time").html('Loading data took '+ (stopP-startP).toFixed(0) +' msec.');
                // console.log( 'instRespPledges> ajaxSendComplete ');
                // console.log('irp> json:', json);
            },
            error: function( data , textStatus /* , jqXHR */ ) {
                if (data.status !== 200) {
                    console.log('error from API ', ajaxInfo)
                    console.log('data:', data);
                    if (data.statusText !== 'OK') {
                        console.log(data.responseText);
                    }
                    if (textStatus !== undefined) {
                        console.log('textStatus:', textStatus);
                    }
                }
            },
        },
        "columnDefs": [
            {
                "render": $.fn.dataTable.render.number("'", '.', 2),
                "targets": [5,6,7,11,12,13]
            },
            // add a first column with checkboxes
            { targets : 0,
              orderable: false,
              className: 'select-checkbox'
            },
            { targets:1,
              className : "project-description",
              "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
            },
            { targets:2,
              className : "activity-description",
              "render": function ( data, type, row ) { return data+'<div id="activity-desc"></div>'; }
            },
            {
              targets : 3,
              className : 'task-description left-border',
              "render": function ( data, type, row ) { return data+'<div id="task-desc"></div>'; }
            },
            {
                targets : 9,      // borders for this one too:
                className : 'left-border',
            },
            // { // format the numbers to 2 decimals
            //     targets: [5,6,7,10,11,12],
            //     render: function ( data, type, row ) { return ' ' + data.toFixed(2); }
            // },
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
            if (data[4] != '-') {
                var col = getColour(data[5]);
                $('td', row).eq(4).addClass(col);
                $('td', row).eq(5).addClass(col);
            }
            // console.log("showInstitute 2 : "+ data[9]);
            if (data[9] !== undefined && data[9].trim != '') {
                $(row).addClass('canManage');
            }
        },

        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },

    });
    tableIRP.draw();
    setupColSearch(tableIRP);
    // ========================================================================

    //
    // Guest pledges for this institute
    //
{% if guestPledges %}

    // column-wise search
    $('#instituteTableGuest tfoot th').each( function () {
        var title = $(this).text();
        if (title.length == 1) {
            $(this).html( '<input hidden type="text" placeholder="Search '+title+'" />' );
        } else {
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    var start;
    var tableG = $('#instituteTableGuest').DataTable({
        "deferRender": true,
        stateSave: true,
        // "fixedHeader" : true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "dom": icmsEprDOM(),
        "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                if (data.length > 0) {
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ?  i : 0;
                    };

                    var i = -1;
                    var numCols = [4,11,12,13];
                    $( "#instituteTableGuest tfoot tr" ).children("td").each( function() {
                        i++;
                        if ( numCols.indexOf(i) != -1 ) {
                            // totals over all pages
                            totals = api.column( i ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            },0 );

                            // totals_page over this page
                            totals_page = api.column( i, { page: 'current'} ).data().reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                            totals_page = parseFloat(totals_page);
                            totals      = parseFloat(totals);
                            // Update footer
                            $(this).html( '<b>'+totals_page.toFixed(2)+"<br />"+totals.toFixed(2)+'</b>' );
                        } else if (i==3) {
                            $(this).html('<b>Sum this page <br /> Sum all pages</b>');
                        } else {
                            $(this).text('');
                        }
                    });
                }
            },
        "ajax": {
            "url": "{{ url_for("api.guestPledgesForInst") }}",
            method : "POST",
            data: { "instCode": "{{ institute.code }}", "year" : {{ year }} },
            "dataSrc": "guestPledges",
            beforeSend: function(xhr, settings) {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading info ... ');
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading data took '+ (stop-start).toFixed(0) +' msec.');
            },
        },
        "columnDefs": [
            // add a first column with checkboxes
            { targets : 0,
              orderable: false,
              className: 'select-checkbox'
            },
            { targets:1,
              className : "project-description",
              "render": function ( data, type, row ) { return data+'<div id="project-desc"></div>'; }
            },
            { targets:2,
              className : "activity-description",
              "render": function ( data, type, row ) { return data+'<div id="activity-desc"></div>'; }
            },
            {
              targets : 3,
              className : 'task-description left-border',
              "render": function ( data, type, row ) { return data+'<div id="task-desc"></div>'; }
            },
            {   // borders for this one too:
                className : 'left-border',
                targets : 9
            },
            { // format the numbers to 2 decimals
              targets: [11,12,13], "render": function ( data, type, row ) { return ' '+data.toFixed(2); }
            },
        ],
        // add colour to the taks done related fields
        "createdRow": function ( row, data, index ) {
            if (data[4] != '-') {
                var col = getColour(data[5]);
                $('td', row).eq(4).addClass(col);
                $('td', row).eq(5).addClass(col);
            }
            // console.log("showInstitute 3 : "+ data[9]);
            if (data[9] !== undefined && data[9].trim != '') {
                $(row).addClass('canManage');
            }
        },
        select : {  // select on the checkboxes:
            style:    'multi',
            selector: 'td:first-child',
            rows: {
                    _: "You have selected %d rows",
                    0: "Click a row to select it",
                    1: "Only 1 row selected"
                }
        },
    });

    tableG.draw();

    setupColSearch(tableG);
{% endif %} <!-- guestPledges -->

    if ( $('#tableButtons').is(':empty') ) {
        // add our buttons to the table and prepend them to the table:
        icmsEprButtons( { table: tableInst, buttonDivName : 'tableButtons' } );
    }

}); // end document.ready ...

</script>

{% endblock %}
