{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}

{% block title %}iCMS - EPR  {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>iCMS - EPR </h1>
</div>

<div id="events"></div>

<div class="ui-widget">
    <label for="userSel">Select User: </label>
    <input id="userSel" name="userSel" />
</div>

<div hidden id="userId"></div>

<div id="instId"> N/A </div>

<div id="userInfo"> </div>
<div id="redirLink"> </div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='icmsepr.js') }}"></script>


<script language="JavaScript">
$(document).ready(function() {

    $( "#userSel" ).autocomplete( {
         autoFocus: true,
         minLength: 3,
         source: '{{ url_for("api.searchUsers") }}',
         select: function( event, ui ) {
                    $("#userId").html( ui.item.value );
                    updateInstProj(ui.item.value);
                    $( "#userSel" ).autocomplete("close");
                  }
    } );

});
</script>

{% endblock %}
