{% extends "base.html" %}

{% block head %}
{{ super() }}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.css') }}">

{% endblock %}

{% block title %}iCMS - EPR Pledge Overview {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        iCMS - EPR Pledge Overview
    </h1>
</div>


<div class="wall2">
    <div class="brick">
        <h2> Pledge {{ plInfo['name'] }} in {{ plInfo['year'] }}</h2>
        <h3> Task {{ plInfo['Task'] | safe }}</h3>
        <h3> Activity: {{ plInfo['activity'] }}</h3>
        <h3> Project:  {{ plInfo['project'] }}</h3>
        <table id="plInfoTable0" class="left-aligned" cellpadding="5">
            <tbody>
                <tr> <td width="20%"> <b> User </b> </td> <td width="40%"> {{ plInfo['User'] }} </td> </tr>
                <tr> <td width="20%"> <b> Institute </b> </td> <td width="40%"> {{ plInfo['Institute'] }} </td> </tr>
                <tr> <td> &nbsp; </td><td> &nbsp; </td></tr>
                <tr> <td width="20%"> <b> Work-time pledged </b> </td> <td width="40%"> {{ plInfo['workTimePld'] }} </td> </tr>
                <tr> <td width="20%"> <b> Work-time accepted </b> </td> <td width="40%"> {{ plInfo['workTimeAcc'] }} </td> </tr>
                <tr> <td width="20%"> <b> Work-time done </b> </td> <td width="40%"> {{ plInfo['workTimeDone'] }} </td> </tr>
                <tr> <td width="20%"> <b> Work done so far </b> </td> <td width="40%"> {{ plInfo['workedSoFar'] }} </td> </tr>
                <tr> <td> &nbsp; </td><td> &nbsp; </td></tr>
                <tr> <td width="20%"> <b> status </b> </td> <td width="40%"> {{ plInfo['status'] }} </td> </tr>
                <tr> <td width="20%"> <b> is guest pledge </b> </td> <td width="40%"> {{ plInfo['isGuest'] }} </td> </tr>
            </tbody>
        </table>
    </div>

    <div class="brick">

        {% if plInfo['code'] in favPledgeCodes %}
            <a href="#" id="fav" title="[-] Remove from favorites" class="active">&nbsp;</a>
        {%  else %}
            <a href="#" id="fav" title="[+] Add as favorite">&nbsp;</a>
        {%  endif %}

        <h3>Managers:</h3>
        <ul>
            <li> Task    : {% if plInfo['managers']['task'] %}
                            <a href="mailto:{{ plInfo['managers']['task'] }}?Subject=Request%20for%20information"> {{ plInfo['managers']['task'] }} </a>
                           {% else %} N/A {% endif %}
            </li>
            <li> Activity: {% if plInfo['managers']['activity'] %}
                            <a href="mailto:{{ plInfo['managers']['activity'] }}?Subject=Request%20for%20information"> {{ plInfo['managers']['activity'] }} </a>
                           {% else %} N/A {% endif %}
            </li>
            <li> Project : {% if plInfo['managers']['project'] %}
                            <a href="mailto:{{ plInfo['managers']['project'] }}?Subject=Request%20for%20information"> {{ plInfo['managers']['project'] }} </a>
                           {% else %} N/A {% endif %}
            </li>
        </ul>
        {% if current_user.is_administrator() %}
            {% if plInfo['taskType'] != 'InstResp' %}
            <hr />
            <a href="{{ url_for('main.splitPledge', plCode='%s' % plInfo['code'].replace(':','+')) }}"> Share this pledge with another institute </a>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="wall">
    <h3> History of pledge: </h3>
    <div class="brick">
        <table id="plHistoryTable" class="dataTable" cellspacing="0" width="90%">
            <thead>
                <tr>
                    <th>Work Pledged</th>
                    <th>Work Accepted</th>
                    <th>Work done so far</th>
                    <th>Work Done</th>
                    <th>Status</th>
                    <th>Last update</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

    <div id="dialog-mail-addrs" name="dialog-mail-addrs" hidden>
        <textarea id="mail-addrs" name="mail-addrs"></textarea>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<script language="JavaScript">
$(document).ready(function() {

    function addFav(){
        $.ajax({
            url: $SCRIPT_ROOT+"/api/v1.0/addToFavourites",
            data: {
                "pledgeCode": "{{ plInfo['code'].replace(':','+') }}",
                },
            method: "POST",
            success: function(){
               $('a#fav')
                     .addClass('active')
                     .attr('title','[-] Remove from favorites')
                     .unbind('click')
                     .bind('click', removeFav)
               ;
            }
        });
    }

    function removeFav(){
        $.ajax({
            url: $SCRIPT_ROOT+"/api/v1.0/removeFromFavourites",
            data: {
                "pledgeCode": "{{ plInfo['code'].replace(':','+') }}",
                },
            method: "POST",
            success: function(){
                $('a#fav')
                     .removeClass('active')
                     .attr('title','[+] Add as favorite')
                     .unbind('click')
                     .bind('click', addFav)
                ;
            }
        });
    }

    setupHelpButton();

    //this will make the link listen to function addFav (you might know this already)
{#    $('a#fav').bind('click', addFav);#}
    {% if plInfo['code'] in favPledgeCodes %}
        $('a#fav').bind('click', removeFav);
    {%  else %}
        $('a#fav').bind('click', addFav);
    {%  endif %}

    var histTable = $('#plHistoryTable').DataTable({
        stateSave: true,
        "dom": icmsEprDOM(),
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "order": [[5, 'desc']], // order by timestamp of entry, most recent on top
        "ajax": {
            "url": "{{ url_for('api.pledgeHistory') }}",
            method : "POST",
            data: { "year" : {{ year }},
                    "plCode" : "{{ plInfo['code'].replace(':','+') }}",
                  },
            beforeSend: function() {
                var d = new Date();
                start = d.getTime();
                $("#loading-time").html('loading history ... ');
            },
            complete: function() {
                var stop = new Date().getTime();
                $("#loading-time").html('Loading history took '+ (stop-start).toFixed(0) +' msec.');
            },
            error : function( data , textStatus /* , jqXHR */ ) {
                console.log('error!')
                console.log(textStatus);
                console.log(data);
            },
        },
        "columnDefs": [
            { "data": "workTimePld"    , targets: 0,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data.toFixed(2); }
                                    if (row.work_pld_mod) { ret = '<div class="histChg">' + data.toFixed(2) + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "workTimeAcc"    , targets: 1,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data.toFixed(2); }
                                    if (row.work_acc_mod) { ret = '<div class="histChg">' + data.toFixed(2) + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "workedSoFar"    , targets: 2,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data.toFixed(2); }
                                    if (row.work_so_far_mod) { ret = '<div class="histChg">' + data.toFixed(2) + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "workTimeDone"    , targets: 3,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data.toFixed(2); }
                                    if (row.work_done_mod) { ret = '<div class="histChg">' + data.toFixed(2) + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "status"    , targets: 4,
                      "render": function ( data, type, row ) {
                                    var ret = ' = ';
                                    if (data) { ret = data; }
                                    if (row.status_mod) { ret = '<div class="histChg">' + data + '</div>'; }
                                    return ret;
                      },
            },
            { "data": "timestamp"    , targets: 5,
            },
        ],
    });

});
</script>

{% endblock %}
